n8n-workflows/cover-letter-generator.json
{
  "name": "Cover Letter Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cover-letter-generator",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "9bd888cd-6215-4b2d-a770-6dfae765e984",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1600,
        1408
      ],
      "webhookId": "cover-letter-generator-webhook"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json;\n// Handle webhook body data - jobDescription can be in body or directly in json\nconst jobDescription = webhookData.body?.jobDescription || webhookData.jobDescription || '';\n// Extract key from webhook data (for PDF naming: key-R.pdf, key-CL.pdf)\nconst key = webhookData.body?.key ?? webhookData.key ?? 0;\n\nif (!jobDescription) {\n  throw new Error('Job Description is required. Send POST with JSON: {\"jobDescription\": \"...\", \"key\": 0}');\n}\n\nreturn [{\n  json: {\n    jobDescription: jobDescription,\n    key: key\n  }\n}];"
      },
      "id": "1e3f55eb-7306-466e-a7fd-3d7a9efc7d98",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        1568
      ]
    },
    {
      "parameters": {
        "jsCode": "const resumeData = $input.first().json;\n\nlet resumeHtml = '';\nlet resumePlainText = '';\n\nif (resumeData.resumeHtml) {\n  resumeHtml = resumeData.resumeHtml;\n  resumePlainText = resumeHtml\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n} else if (resumeData.binary?.resume) {\n  const buffer = Buffer.from(resumeData.binary.resume.data, 'base64');\n  resumeHtml = buffer.toString('utf-8');\n  resumePlainText = resumeHtml\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Truncate plain text to ~8000 chars to avoid exceeding Claude's token limit\nif (resumePlainText.length > 8000) {\n  resumePlainText = resumePlainText.substring(0, 8000);\n}\n\nconst previousData = $('Prepare Input').first().json;\n\nreturn [{\n  json: {\n    ...previousData,\n    resumeHtml: resumeHtml,\n    resumePlainText: resumePlainText,\n    resumeFileName: resumeData.fileName || 'resume',\n    jdAnalysis: resumeData.jdAnalysis || {},\n    jobDescription: resumeData.jobDescription || previousData.jobDescription || ''\n  }\n}];"
      },
      "id": "24594582-c848-4677-b36e-0bbe33d3aa56",
      "name": "Extract Resume Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        1424
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 20000,
          "temperature": 0.6
        }
      },
      "id": "b1154604-743d-48c1-b73d-e2ebc0d10674",
      "name": "Claude - Cover Letter Writer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2608,
        1536
      ],
      "credentials": {
        "anthropicApi": {
          "id": "",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a tailored, tone-appropriate cover letter for an intern/co-op role.\n\n<job_analysis>\nCompany: {{ $json.jdAnalysis.company_name }}\nRole: {{ $json.jdAnalysis.job_title }}\nLocation: {{ $json.jdAnalysis.location }}\nSeniority: {{ $json.jdAnalysis.seniority_level }}\nCompensation: {{ $json.jdAnalysis.compensation_range }}\nCore Mission: {{ $json.jdAnalysis.core_mission }}\nBusiness Goal: {{ $json.jdAnalysis.business_goal }}\nTop Skills: {{ JSON.stringify($json.jdAnalysis.top_5_skills) }}\nKey Tools in Day-to-Day Responsibilities: {{ JSON.stringify($json.jdAnalysis.key_tools_in_responsibilities) }}\nPain Points: {{ $json.jdAnalysis.inferred_pain_points }}\nValue Prop: {{ $json.jdAnalysis.value_proposition }}\nStyle: {{ $json.jdAnalysis.tone_and_style }}\n</job_analysis>\n\n<candidate_resume>\n{{ $json.resumePlainText }}\n</candidate_resume>\n\n<tone_calibration>\nCRITICAL: You are a student eager to contribute and grow. Show enthusiasm, relevant coursework, and transferable project experience.\n- Do NOT position yourself as a strategic advisor or claim to know the company's internal challenges.\n- Do NOT use consultant-pitch language like \"That's the edge [Company] needs\" or \"turn [X] into your next winning strategy.\"\n- Use phrases like: \"I'd love to contribute to\", \"my coursework and projects have prepared me to support\", \"I'm excited to apply what I've learned\", \"I'm eager to bring my [X] skills to the team\", \"I look forward to learning from [Company]'s approach to [domain].\"\n- Keep the tone warm, genuine, and coachable. They want someone who will learn fast and integrate well.\n</tone_calibration>\n\n<writing_strategy>\n1. THE HOOK: Start with a genuine connection to their mission or work area. Express authentic interest in the domain. NEVER start with \"I am writing to apply\" or generic statements.\n\n2. SALUTATION: Use \"Dear [Specific Team/Department] Hiring Team,\" based on the role's department or function (e.g., \"Dear Data Analytics Hiring Team,\" \"Dear Risk Management Hiring Team,\" \"Dear Software Engineering Hiring Team,\"). NEVER use the generic \"Dear Hiring Manager.\" Derive the team name from the role title and department context in the JD.\n\n3. SKILLS ALIGNMENT (MOST IMPORTANT): Look at \"Key Tools in Day-to-Day Responsibilities\" and \"Top Skills\". When a tool appears in both lists, that is a strong signal it should be mentioned prominently. Prioritize \"Key Tools in Day-to-Day Responsibilities\" for tool ordering, and \"Top Skills\" for broader competency framing. If Power BI is heavily emphasized, lead with Power BI experience. If Excel is a core requirement, mention Excel explicitly. For EVERY tool or skill the JD emphasizes, include a specific example from the resume. CRITICAL: If the resume does NOT mention a JD-emphasized tool, do NOT fabricate experience. Instead, mention a closely related tool the candidate has used and briefly frame the transferable skill (e.g., \"My Tableau dashboard experience translates directly to Power BI\").\n\n4. EVIDENCE OVER CLAIMS: For each skill you mention, give brief context of what you actually did. Prefer business impact framing (\"helped the team identify key drivers\") over raw metrics. If a metric isn't impressive in isolation (e.g., R-squared of 0.76), describe what you did with the result rather than citing the number alone.\n\n5. RELOCATION (If applicable): If the candidate's current city differs from the job location, include ONE brief sentence about willingness to relocate. Skip this sentence entirely if the location is empty, \"Remote\", \"Hybrid\", or matches the candidate's city.\n\n6. THE CLOSE: Express eagerness to contribute and learn on the team. Keep it simple and genuine.\n</writing_strategy>\n\n<formatting_rules>\n- Tone: Match both the \"{{ $json.jdAnalysis.tone_and_style }}\" and the intern/co-op seniority level.\n- Length: Max 250 words. Shorter is always better; do not pad to reach the limit.\n- Structure: Use natural, flowing paragraphs. Do NOT use numbered lists, bullet points, or \"three principles\" frameworks. The letter should read as a genuine, conversational letter.\n- No bold or emphasis formatting. Do not use <strong> tags, asterisks, or any other emphasis markers anywhere in the letter.\n- NEVER use the hyphen/dash character '-' anywhere in the cover letter. Use commas, semicolons, or rephrase sentences instead. For compound words like \"data-driven\", write \"data driven\" or rephrase.\n- First person only.\n- Sign off: \"Sincerely,\" followed by the candidate's full name from the resume.\n</formatting_rules>\n\nReturn ONLY valid JSON (no markdown fences, no explanation):\n{\n  \"cover_letter_text\": \"Full cover letter text. No <strong> tags, no bold, no [Placeholder] brackets.\",\n  \"key_points_highlighted\": [\"List the 3 strongest links between resume and JD\"],\n  \"tone_analysis\": \"Description of the chosen writing voice and why it fits the intern/co-op seniority level\"\n}",
        "options": {
          "returnIntermediateSteps": false
        }
      },
      "id": "e802d592-88c2-4033-a44f-fefb70a9114c",
      "name": "AI Agent - Write Cover Letter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2528,
        1312
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet coverLetterData;\n\ntry {\n  const content = response.output || response.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    coverLetterData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in AI response');\n  }\n} catch (e) {\n  coverLetterData = {\n    cover_letter_text: 'Error generating cover letter: ' + e.message,\n    key_points_highlighted: [],\n    tone_analysis: 'N/A',\n    error: e.message\n  };\n}\n\nconst previousData = $('Extract Resume Content').first().json;\n\nreturn [{\n  json: {\n    ...previousData,\n    coverLetter: coverLetterData.cover_letter_text,\n    keyPoints: coverLetterData.key_points_highlighted || [],\n    toneAnalysis: coverLetterData.tone_analysis || ''\n  }\n}];"
      },
      "id": "1874524b-1a24-4966-879c-311e3145f2a6",
      "name": "Parse Cover Letter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        1424
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Get current date\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\n\n// Create cover letter HTML with same style as resume\nconst coverLetterHtml = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>YOUR NAME - Cover Letter</title>\n  <style>\n    * {\n      margin: 0;\n      padding: 0;\n      box-sizing: border-box;\n    }\n\n    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');\n\n    body {\n      font-family: \"Inter\", sans-serif;\n      font-size: 11pt;\n      line-height: 1.4;\n      color: #000;\n      background: #fff;\n    }\n\n    .page {\n      max-width: 8.5in;\n      margin: 0 auto;\n      padding: 0.75in;\n    }\n\n    @page {\n      size: Letter portrait;\n      margin: 0;\n    }\n\n    @media print {\n      body {\n        -webkit-print-color-adjust: exact;\n        print-color-adjust: exact;\n        margin: 0;\n        padding: 0;\n      }\n      .page {\n        padding: 0.75in;\n      }\n    }\n\n    .header {\n      text-align: center;\n      margin-bottom: 20pt;\n    }\n\n    .name {\n      font-size: 24pt;\n      font-weight: bold;\n      margin-bottom: 2pt;\n      color: #1a3a6e;\n    }\n\n    .contact {\n      font-size: 11pt;\n    }\n\n    .contact a {\n      color: #0066cc;\n      text-decoration: underline;\n    }\n\n    .date {\n      margin-bottom: 20px;\n      font-size: 11pt;\n      margin-top: 20pt;\n    }\n\n    .content {\n      white-space: pre-wrap;\n      word-wrap: break-word;\n    }\n\n    .content p {\n      margin-bottom: 15px;\n      text-align: justify;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"page\">\n    <header class=\"header\">\n      <h1 class=\"name\">YOUR NAME</h1>\n      <p class=\"contact\">555-555-5555 | <a href=\"mailto:your.email@example.com\">your.email@example.com</a> | Your City, Province | <a href=\"https://linkedin.com/in/yourlinkedinprofile\">LinkedIn</a> | <a href=\"https://github.com/yourgithubusername\">GitHub</a></p>\n    </header>\n\n    <div class=\"date\">${dateStr}</div>\n\n    <div class=\"content\">${data.coverLetter || 'Cover letter content not available'}</div>\n  </div>\n</body>\n</html>`;\n\nconst fileName = `CoverLetter_${data.jdAnalysis.company_name || 'Company'}_${Date.now()}`.replace(/[^a-zA-Z0-9_]/g, '_');\n\nreturn [{\n  json: {\n    ...data,\n    coverLetterHtml: coverLetterHtml,\n    fileName: fileName\n  },\n  binary: {\n    coverLetter: await this.helpers.prepareBinaryData(\n      Buffer.from(coverLetterHtml, 'utf-8'),\n      `${fileName}.html`,\n      'text/html; charset=utf-8'\n    )\n  }\n}];"
      },
      "id": "1c4a775f-e5fa-4a90-b346-0c9ea8ccd9a1",
      "name": "Generate Cover Letter HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        1424
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\n// Get key from Prepare Input node for PDF naming\nconst prepareInputData = $('Prepare Input').first().json;\nconst key = prepareInputData.key ?? 0;\n\nlet htmlContent = '';\n\nif (input.json.coverLetterHtml) {\n  htmlContent = input.json.coverLetterHtml;\n} else if (input.binary && input.binary.coverLetter) {\n  htmlContent = Buffer.from(input.binary.coverLetter.data, 'base64').toString('utf-8');\n} else {\n  throw new Error('No HTML content found');\n}\n\nconst fileName = input.json.fileName || `cover_letter_${Date.now()}`;\n\nreturn [{\n  json: {\n    htmlContent: htmlContent,\n    fileName: fileName,\n    key: key\n  },\n  binary: {\n    htmlFile: {\n      data: Buffer.from(htmlContent).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "id": "bfff666f-e2bd-445d-857b-084255a40d38",
      "name": "Prepare for PDF Conversion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        1424
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "htmlFile"
            },
            {
              "name": "paperWidth",
              "value": "8.5"
            },
            {
              "name": "paperHeight",
              "value": "11"
            },
            {
              "name": "landscape",
              "value": "false"
            },
            {
              "name": "marginTop",
              "value": "0"
            },
            {
              "name": "marginBottom",
              "value": "0"
            },
            {
              "name": "marginLeft",
              "value": "0"
            },
            {
              "name": "marginRight",
              "value": "0"
            },
            {
              "name": "printBackground",
              "value": "true"
            },
            {
              "name": "scale",
              "value": "1"
            },
            {
              "name": "preferCssPageSize",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a9434d8b-118d-4a7e-aa10-3da142a61e90",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3552,
        1424
      ],
      "notesInFlow": true,
      "notes": "Requires Gotenberg: docker run -p 3000:3000 gotenberg/gotenberg:8"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\n// Get key from Prepare Input node for PDF naming\nconst prepareInputData = $('Prepare Input').first().json;\nconst key = prepareInputData.key ?? 0;\n\nlet htmlContent = '';\n\n// Option 1: Get HTML from upstream Generate Resume HTML node (json.resumeHtml)\nif (input.json.resumeHtml) {\n  htmlContent = input.json.resumeHtml;\n}\n// Option 2: Get HTML from binary data (binary.resume)\nelse if (input.binary && input.binary.resume) {\n  htmlContent = Buffer.from(input.binary.resume.data, 'base64').toString('utf-8');\n}\nelse {\n  throw new Error('No HTML content found from upstream node');\n}\n\n// Fixed page settings for resume\nconst pageSize = 'Letter';\nconst orientation = 'portrait';\n\n// Use fileName from upstream or generate default\nconst fileName = input.json.fileName || `resume_${Date.now()}`;\n\nreturn [{\n  json: {\n    htmlContent: htmlContent,\n    pageSize: pageSize,\n    orientation: orientation,\n    fileName: fileName,\n    key: key\n  }\n}];"
      },
      "id": "24acb7f9-2107-4764-b548-24694a1c9a82",
      "name": "Process Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        1712
      ]
    },
    {
      "parameters": {
        "jsCode": "// SIMPLIFIED: Page spacing is now controlled by template file\n// This node only prepares HTML for Gotenberg (requires file named 'index.html')\n\nconst data = $input.first().json;\nconst htmlContent = data.htmlContent;\nconst key = data.key ?? 0;\n\n// No need to inject any styles - template already has @page and .page padding\n// Just pass through the HTML content as-is\nconst finalHtml = htmlContent;\n\nreturn [{\n  json: {\n    htmlContent: finalHtml,\n    pageSize: data.pageSize,\n    orientation: data.orientation,\n    fileName: data.fileName,\n    key: key,\n    info: 'Page spacing controlled by template file'\n  },\n  binary: {\n    htmlFile: {\n      data: Buffer.from(finalHtml).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "id": "e0e14fe6-67b4-49b1-92ee-2a87bd3055f2",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        1712
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "htmlFile"
            },
            {
              "name": "paperWidth",
              "value": "8.5"
            },
            {
              "name": "paperHeight",
              "value": "11"
            },
            {
              "name": "landscape",
              "value": "false"
            },
            {
              "name": "marginTop",
              "value": "0"
            },
            {
              "name": "marginBottom",
              "value": "0"
            },
            {
              "name": "marginLeft",
              "value": "0"
            },
            {
              "name": "marginRight",
              "value": "0"
            },
            {
              "name": "printBackground",
              "value": "true"
            },
            {
              "name": "scale",
              "value": "1"
            },
            {
              "name": "preferCssPageSize",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "ab26e96f-4114-4016-9607-0be73d6153ba",
      "name": "Gotenberg PDF1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        1712
      ],
      "notesInFlow": true,
      "notes": "Using Gotenberg (Docker: gotenberg/gotenberg:8). Run: docker run -p 3000:3000 gotenberg/gotenberg:8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AWv5m9jqUOnkHyG-3gWzr",
          "mode": "list",
          "cachedResultUrl": "/workflow/AWv5m9jqUOnkHyG-3gWzr",
          "cachedResultName": "Resume Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Job Description": "={{$json.jobDescription}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2080,
        1568
      ],
      "id": "262c6c76-e4fa-48ba-a3c1-e38a4fffa96d",
      "name": "Call 'Resume Generator'"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst previousData = $('Prepare for PDF Conversion').first().json;\n\nif (!input.binary) {\n  throw new Error('No binary data received from conversion service');\n}\n\nconst pdfBinary = input.binary.data;\nif (!pdfBinary) {\n  throw new Error('No PDF data found. Available keys: ' + Object.keys(input.binary).join(', '));\n}\n\n// Use key from workflow for PDF naming: {key}-CL.pdf\nconst key = previousData.key ?? 0;\nconst fileName = `${key}-CL.pdf`;\n\nreturn [{\n  json: {\n    success: true,\n    fileName: fileName,\n    filePath: `/home/node/.n8n-files/data/${fileName}`,\n    key: key\n  },\n  binary: {\n    pdf: {\n      ...pdfBinary,\n      fileName: fileName,\n      mimeType: 'application/pdf'\n    }\n  }\n}];"
      },
      "id": "bdbae32f-7ced-412c-b8a6-f0c48d2da596",
      "name": "Prepare CL PDF for Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        1424
      ]
    },
    {
      "parameters": {
        "fileName": "={{ '/home/node/.n8n-files/data/' + $json.fileName }}",
        "dataPropertyName": "pdf",
        "options": {}
      },
      "id": "76d578c4-e620-41c5-a36e-96f73b88f7f9",
      "name": "Write CL PDF",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        4000,
        1424
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst previousData = $('Convert to PDF').first().json;\n\nif (!input.binary) {\n  throw new Error('No binary data received from conversion service');\n}\n\nconst pdfBinary = input.binary.data;\nif (!pdfBinary) {\n  throw new Error('No PDF data found. Available keys: ' + Object.keys(input.binary).join(', '));\n}\n\n// Use key from workflow for PDF naming: {key}-R.pdf\nconst key = previousData.key ?? 0;\nconst fileName = `${key}-R.pdf`;\n\nreturn [{\n  json: {\n    success: true,\n    fileName: fileName,\n    filePath: `/home/node/.n8n-files/data/${fileName}`,\n    key: key\n  },\n  binary: {\n    pdf: {\n      ...pdfBinary,\n      fileName: fileName,\n      mimeType: 'application/pdf'\n    }\n  }\n}];"
      },
      "id": "e5320101-64e3-482b-92ff-88beca54d484",
      "name": "Prepare Resume PDF for Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        1712
      ]
    },
    {
      "parameters": {
        "fileName": "={{ '/home/node/.n8n-files/data/' + $json.fileName }}",
        "dataPropertyName": "pdf",
        "options": {}
      },
      "id": "0c8b3c28-856f-4e49-851b-a4317889248e",
      "name": "Write Resume PDF",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        3328,
        1712
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Call 'Resume Generator'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Cover Letter Writer": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Write Cover Letter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Write Cover Letter": {
      "main": [
        [
          {
            "node": "Parse Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cover Letter": {
      "main": [
        [
          {
            "node": "Generate Cover Letter HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover Letter HTML": {
      "main": [
        [
          {
            "node": "Prepare for PDF Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for PDF Conversion": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Prepare CL PDF for Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare CL PDF for Save": {
      "main": [
        [
          {
            "node": "Write CL PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Input": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Gotenberg PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF1": {
      "main": [
        [
          {
            "node": "Prepare Resume PDF for Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Resume PDF for Save": {
      "main": [
        [
          {
            "node": "Write Resume PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Resume Generator'": {
      "main": [
        [
          {
            "node": "Extract Resume Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume Content": {
      "main": [
        [
          {
            "node": "AI Agent - Write Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "tags": []
}