n8n-workflows/resume-generator-backup-46cb59fc.json
{"updatedAt":"2026-02-28T04:52:41.043Z","createdAt":"2026-01-21T02:03:43.080Z","id":"AWv5m9jqUOnkHyG-3gWzr","name":"Resume Generator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Select courses that provide the strongest FOUNDATIONAL knowledge for the target job skills.\n\n<target_skills>\n{{ JSON.stringify($json.jdAnalysis.top_5_skills?.map(s => s.skill) || []) }}\n</target_skills>\n\n<available_courses>\n{{ $json.masterCoursesContent }}\n</available_courses>\n\n<rules>\n1. Select 3-4 courses with strongest FOUNDATIONAL relevance to the target skills\n2. Courses do NOT need to be exact tool matches. For example: Machine Learning supports a data science role even if the JD asks for specific tools\n3. Prioritize: statistics, ML, data mining, quantitative methods, risk modeling, and any applied/computational courses\n4. You MUST always return at least 3 courses. NEVER return an empty array\n5. Return EXACT course names as listed\n</rules>\n\nReturn ONLY valid JSON: {\"selected_courses\": [\"Machine Learning\", \"Data Mining\"]}","options":{"returnIntermediateSteps":false}},"id":"504f1be0-1ed6-4c1f-ba2d-066149cf66f9","name":"AI - Extract Master Courses","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[45664,32560],"disabled":true},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[44416,33344],"id":"5fecba8f-6941-482f-bff6-4ddb8d20af97","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{"maxTokensToSample":4000,"temperature":0.2}},"id":"4ae0b146-005a-4b1b-b069-349c9cc6f85f","name":"Claude - JD Analysis4","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[45744,32784],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":20000,"temperature":0.3}},"id":"99d609fd-d1c2-4e68-8815-f50b0f2fe8a6","name":"Claude - JD Analysis3","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[46320,33712],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":20000,"temperature":0.3}},"id":"05f9c519-ec73-4d15-93e0-165554ff54da","name":"Claude - JD Analysis2","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[45744,34400],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":20000,"temperature":0.3}},"id":"921e486c-4d07-432c-853a-54bcde72df8e","name":"Claude - JD Analysis1","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[46320,34400],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{"maxTokensToSample":4000,"temperature":0.2}},"id":"891925a9-7103-4cea-b5f3-e97db21c0923","name":"Claude - JD Analysis6","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[45744,33296],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}},"disabled":true},{"parameters":{"jsCode":"const data = $('Combine All Data').first().json;\nconst templateFile = $input.first();\n\nfunction generateContactLine(info) {\n  if (!info) return '';\n  const parts = [];\n  if (info.location) parts.push(info.location);\n  if (info.phone) parts.push(info.phone);\n  if (info.email) parts.push(`<a href=\"mailto:${info.email}\">${info.email}</a>`);\n  if (info.linkedin) parts.push(`<a href=\"${info.linkedin}\">LinkedIn</a>`);\n  if (info.github) parts.push(`<a href=\"${info.github}\">GitHub</a>`);\n  return parts.join(' | ');\n}\n\nfunction generateSkillsSection(skillsByCategory) {\n  if (!skillsByCategory || typeof skillsByCategory !== 'object') {\n    return '<p>No skills data available.</p>';\n  }\n  let html = '';\n  for (const [category, skills] of Object.entries(skillsByCategory)) {\n    if (Array.isArray(skills) && skills.length > 0) {\n      html += `<p class=\"skills-line\"><span class=\"skills-label\">${category}:</span> ${skills.join(', ')}</p>\\n`;\n    }\n  }\n  return html || '<p>No skills data available.</p>';\n}\n\nfunction generateProjectsSection(projects) {\n  if (!Array.isArray(projects) || projects.length === 0) {\n    return '<p>No matching projects found.</p>';\n  }\n  return projects.map(project => {\n    if (!project) return '';\n    const title = project.project_title || project.original_name || 'Untitled Project';\n    const date = project.project_date || '';\n    const url = project.project_url || '';\n    const bullets = Array.isArray(project.impact_sentences) \n      ? project.impact_sentences.map(s => `<li>${s}</li>`).join('\\n')\n      : '';\n    const dateSpan = date ? `<span class=\"entry-date\">${date}</span>` : '';\n    const titleHtml = url ? `<a href=\"${url}\" class=\"entry-title\" target=\"_blank\">${title}</a>` : `<span class=\"entry-title\">${title}</span>`;\n    return `<div class=\"entry\">\\n<div class=\"entry-header\">\\n${titleHtml}\\n${dateSpan}\\n</div>\\n<ul>\\n${bullets}\\n</ul>\\n</div>`;\n  }).filter(Boolean).join('\\n');\n}\n\nlet template = '';\ntry {\n  const binaryDataBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  template = binaryDataBuffer.toString('utf-8');\n} catch (e) {\n  throw new Error('Failed to read template file: ' + e.message);\n}\n\nif (!template || template.trim().length === 0) {\n  throw new Error('Template file is empty');\n}\n\nconst replacements = {\n  '{{NAME}}': data.personalInfo?.name || 'Your Name',\n  '{{CONTACT_LINE}}': generateContactLine(data.personalInfo),\n  '{{MASTER_COURSES}}': Array.isArray(data.masterCourses) && data.masterCourses.length > 0 ? data.masterCourses.join('; ') : 'N/A',\n  '{{BACHELOR_COURSES}}': Array.isArray(data.bachelorCourses) && data.bachelorCourses.length > 0 ? data.bachelorCourses.join('; ') : 'N/A',\n  '{{PROJECTS_SECTION}}': generateProjectsSection(data.matchedProjects),\n  '{{SKILLS_SECTION}}': generateSkillsSection(data.skillsByCategory)\n};\n\nlet html = template;\nfor (const [placeholder, value] of Object.entries(replacements)) {\n  html = html.replace(new RegExp(placeholder.replace(/[{}]/g, '\\\\$&'), 'g'), value);\n}\n\nconst fileName = (data.personalInfo?.name || 'Resume').replace(/[^a-zA-Z0-9]/g, '_');\n\nreturn [{\n  json: {\n    ...data,\n    resumeHtml: html,\n    fileName: fileName\n  },\n  binary: {\n    resume: await this.helpers.prepareBinaryData(\n      Buffer.from(html, 'utf-8'),\n      `${fileName}_Resume.html`,\n      'text/html; charset=utf-8'\n    )\n  }\n}];"},"id":"65437d81-ee51-4a87-898b-337a2228f8fa","name":"Generate Resume HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[48864,33504]},{"parameters":{"fileSelector":"/home/node/.n8n-files/data/templates/resume_template.html","options":{}},"id":"80040054-264e-41ff-89c5-d7d8aedfadbb","name":"Read Template File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[48640,33504],"disabled":true},{"parameters":{"jsCode":"const items = $input.all();\n\nconst PERSONAL_INFO = {\n  name: 'Your Name',\n  email: 'sam.guan@example.com',\n  phone: '(123) 456-7890',\n  linkedin: 'https://linkedin.com/in/samguan',\n  github: 'https://github.com/samguan',\n  location: 'San Francisco, CA'\n};\n\nlet masterCourses = [];\nlet bachelorCourses = [];\nlet skillsByCategory = {};\nlet projectsWithImpact = [];\nlet unmatchedSkills = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (data.masterCourses) masterCourses = data.masterCourses;\n  if (data.bachelorCourses) bachelorCourses = data.bachelorCourses;\n  if (data.skillsByCategory) skillsByCategory = data.skillsByCategory;\n  if (data.projectsWithImpact) projectsWithImpact = data.projectsWithImpact;\n  if (data.unmatchedSkills) unmatchedSkills = data.unmatchedSkills;\n}\n\n// Include JD analysis for downstream use by Cover Letter Generator\nconst jdAnalysisData = $('Parse JD Analysis').first().json;\n\nreturn [{\n  json: {\n    personalInfo: PERSONAL_INFO,\n    masterCourses: masterCourses,\n    bachelorCourses: bachelorCourses,\n    skillsByCategory: skillsByCategory,\n    matchedProjects: projectsWithImpact,\n    unmatchedSkills: unmatchedSkills,\n    jdAnalysis: jdAnalysisData.jdAnalysis || {},\n    jobDescription: jdAnalysisData.jobDescription || ''\n  }\n}];"},"id":"ffb5d79e-1ae9-4d10-9504-363e8d4d9bcd","name":"Combine All Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[48416,33504],"disabled":true},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"681b5a74-fe34-4ebb-bdae-a731551f8bc5","name":"Merge All Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[48192,33504],"disabled":true},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"4c971656-b13d-4cfa-87f3-8c36ff94bdd5","name":"Merge Skills & Projects","type":"n8n-nodes-base.merge","typeVersion":3,"position":[47968,34000],"disabled":true},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"52a5d9dc-daad-4d88-90a6-4e29e3c799e8","name":"Merge Courses","type":"n8n-nodes-base.merge","typeVersion":3,"position":[46304,32800],"disabled":true},{"parameters":{"jsCode":"// Read accumulated results from staticData (items arrive at different times due to shortening loop)\nconst staticData = $getWorkflowStaticData('global');\nconst allProjects = staticData.projectResults || [];\nconst expectedCount = staticData.expectedProjectCount || 0;\n\n// Check if all expected projects have arrived\nif (allProjects.length < expectedCount) {\n  // Not all projects ready yet - return empty but don't clear\n  // This node will be called again when more items arrive\n  return [];\n}\n\n// All projects have arrived - filter and output\nconst projectsWithImpact = allProjects\n  .filter(p => p && p.impact_sentences && p.impact_sentences.length > 0)\n  .filter(p => p.project_title !== 'Unknown Project' && p.original_name !== '');\n\n// Clear staticData for next run\nstaticData.projectResults = [];\nstaticData.expectedProjectCount = 0;\nstaticData.batchId = '';\n\nreturn [{\n  json: {\n    projectsWithImpact: projectsWithImpact,\n    projectCount: projectsWithImpact.length,\n    branch: 'projects'\n  }\n}];"},"id":"77014635-d185-45df-88ca-d5390ed59e77","name":"Aggregate Project Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[47680,34352],"disabled":true},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{"maxTokensToSample":4000,"temperature":0.2}},"id":"411a26c1-4976-46dc-8b13-b97d9db08b05","name":"Claude - Shortener","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[47344,34176],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}},"disabled":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $input.item.json;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.projectResults) {\n  staticData.projectResults = [];\n}\n\n// Guard against cross-execution contamination:\n// If this item's batchId doesn't match staticData's batchId, clear stale data\nconst itemBatchId = input.batchId || '';\nif (staticData.batchId && itemBatchId && staticData.batchId !== itemBatchId) {\n  staticData.projectResults = [];\n  staticData.batchId = itemBatchId;\n}\n\nif (input.projectData) {\n  // Recover project_url if it was lost during AI sentence shortening\n  const projectUrlsMap = $('Process Projects').first().json.projectUrlsMap || {};\n  const originalName = input.projectData.original_name || '';\n  if (!input.projectData.project_url && projectUrlsMap[originalName]) {\n    input.projectData.project_url = projectUrlsMap[originalName];\n  }\n  \n  staticData.projectResults.push(input.projectData);\n}\n\nreturn {\n  json: {\n    optimizedProject: input.projectData,\n    projectCount: staticData.projectResults.length,\n    branch: 'projects'\n  }\n};"},"id":"eed1d9d3-7584-4c3f-a814-239d062e8949","name":"Finalize Project","type":"n8n-nodes-base.code","typeVersion":2,"position":[47328,34352],"disabled":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $input.item.json;\nconst content = input.output || input.text || '';\n\n// Get the corresponding Check Loop data for this item\nconst checkLoopItems = $('Check Loop').all();\nconst currentIndex = $itemIndex;\nconst checkLoopData = checkLoopItems[currentIndex]?.json || $('Check Loop').first().json || {};\nconst iteration = checkLoopData.iteration || 1;\n\n// CRITICAL FIX: Get validSentences that were already short enough\nconst validSentences = checkLoopData.validSentences || [];\n\n// Preserve original metadata from before the shortener loop\nconst originalProjectData = checkLoopData.projectData || {};\n\nlet projectData;\nlet jsonStr = content;\n\nif (content.includes('```json')) {\n  const match = content.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (match) jsonStr = match[1];\n} else if (content.includes('```')) {\n  const match = content.match(/```\\s*([\\s\\S]*?)\\s*```/);\n  if (match) jsonStr = match[1];\n} else {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) jsonStr = jsonMatch[0];\n}\n\ntry {\n  projectData = JSON.parse(jsonStr.trim());\n} catch (e) {\n  throw new Error('Failed to parse shortened sentences: ' + e.message);\n}\n\n// Merge validSentences back with the shortened sentences\nconst shortenedSentences = projectData.impact_sentences || [];\nprojectData.impact_sentences = [...validSentences, ...shortenedSentences];\n\n// CRITICAL FIX: Restore metadata fields from original data\n// AI Shortener may alter title/date/url/original_name - always override with originals\nprojectData.project_title = originalProjectData.project_title || projectData.project_title;\nprojectData.project_date = originalProjectData.project_date || projectData.project_date;\nprojectData.project_url = originalProjectData.project_url || projectData.project_url;\nprojectData.original_name = originalProjectData.original_name || projectData.original_name;\nprojectData.matched_skill = originalProjectData.matched_skill || projectData.matched_skill;\n\nreturn {\n  json: {\n    projectData: projectData,\n    iteration: iteration,\n    branch: 'projects'\n  }\n};"},"id":"0a5ab2e8-926d-4655-9d15-a8d8daabfada","name":"Parse Shortened","type":"n8n-nodes-base.code","typeVersion":2,"position":[47680,34048],"disabled":true},{"parameters":{"promptType":"define","text":"=AGGRESSIVELY shorten each impact sentence to 85-95 characters.\n\n<sentences_too_long>\n{{ JSON.stringify($json.tooLongSentences) }}\n</sentences_too_long>\n\n<CRITICAL_REQUIREMENT>\nCurrent sentences are 150-230 chars. Target is 85-95 chars.\nYou must CUT 50-60% of each sentence. Be RUTHLESS.\nDo NOT use any HTML formatting tags like <b>, <i>, etc. Plain text only.\n</CRITICAL_REQUIREMENT>\n\n<shortening_rules>\n1. REMOVE all context/background: \"for GreenTech Painting\" → delete\n2. REMOVE parenthetical lists: \"(customer management, room config...)\" → delete\n3. KEEP only: Action + Tool + ONE metric\n4. USE abbreviations: \"development\" → \"dev\", \"application\" → \"app\"\n\n<examples>\nBEFORE (173 chars): \"Led end-to-end delivery of iOS quoting app for GreenTech Painting, reducing data entry from 3x to 1x across iPad/Excel/QuickBooks and eliminating manual transcription errors\"\nAFTER (68 chars): \"Built iOS quoting app reducing data entry 3x to 1x, eliminating errors\"\n\nBEFORE (218 chars): \"Engineered SwiftUI + MVVM architecture with 6 core modules (customer management, room configuration, real-time estimate calculation, QBO OAuth sync, queue management, CoreData persistence) across 6 milestone cycles\"\nAFTER (58 chars): \"Engineered SwiftUI + MVVM app with 6 modules and QBO sync\"\n</examples>\n\nReturn ONLY valid JSON:\n{\n  \"project_title\": \"{{ $json.projectData.project_title }}\",\n  \"project_date\": \"{{ $json.projectData.project_date }}\",\n  \"project_url\": \"{{ $json.projectData.project_url }}\",\n  \"original_name\": \"{{ $json.projectData.original_name }}\",\n  \"matched_skill\": \"{{ $json.projectData.matched_skill }}\",\n  \"impact_sentences\": [\"short sentence 85-95 chars\", \"...\"]\n}","options":{"returnIntermediateSteps":false}},"id":"fe0deb35-048a-499d-ba55-9116b059c9cc","name":"AI - Shorten Sentences","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[47264,33952],"disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"condition-continue","leftValue":"={{ $json.shouldContinue }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"11ce9704-e479-4b31-9b67-e0c31d50cf0f","name":"Check Loop","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[47040,34112],"disabled":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $input.item.json;\nlet projectData = input.projectData;\n\n// If coming from AI - Shorten Sentences, parse the response\nif (input.output || input.text) {\n  const content = input.output || input.text || '';\n  let jsonStr = content;\n  \n  if (content.includes('```json')) {\n    const match = content.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n    if (match) jsonStr = match[1];\n  } else if (content.includes('```')) {\n    const match = content.match(/```\\s*([\\s\\S]*?)\\s*```/);\n    if (match) jsonStr = match[1];\n  } else {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) jsonStr = jsonMatch[0];\n  }\n  \n  try {\n    const parsed = JSON.parse(jsonStr.trim());\n    // BUG FIX: Only update impact_sentences from shortener output.\n    // Preserve original metadata (project_title, project_date, etc.)\n    // because AI shortener may return empty/missing metadata fields.\n    if (parsed.impact_sentences) {\n      projectData.impact_sentences = parsed.impact_sentences;\n    }\n  } catch (e) {\n    // Keep existing projectData if parse fails\n  }\n}\n\nconst MAX_CHARS = 95;\nconst iteration = (input.iteration || 0) + 1;\n\n// ========== Code-based pre-trimming ==========\nconst fillerPatterns = [\n  /\\bby leveraging\\b/gi,\n  /\\bthrough the use of\\b/gi,\n  /\\bin order to\\b/gi,\n  /\\bby utilizing\\b/gi,\n  /\\bvia the\\b/gi,\n];\n\nconst abbreviationMap = {\n  'development': 'dev',\n  'application': 'app',\n  'applications': 'apps',\n  'approximately': '~',\n  'processing': 'proc.',\n};\n\nfunction codeTrim(sentence) {\n  let s = sentence;\n  // Remove long parenthetical content (10+ chars inside parens)\n  s = s.replace(/\\s*\\([^)]{10,}\\)/g, '');\n  // Remove filler phrases\n  for (const pattern of fillerPatterns) {\n    s = s.replace(pattern, '');\n  }\n  // Apply abbreviations\n  for (const [full, abbr] of Object.entries(abbreviationMap)) {\n    s = s.replace(new RegExp(`\\\\b${full}\\\\b`, 'gi'), abbr);\n  }\n  // Clean up double spaces\n  s = s.replace(/\\s{2,}/g, ' ').trim();\n  return s;\n}\n\nconst sentences = projectData.impact_sentences || [];\nconst tooLongSentences = [];\nconst validSentences = [];\n\nfor (let i = 0; i < sentences.length; i++) {\n  let sentence = sentences[i];\n  \n  // Try code-based trimming first (only on first iteration)\n  if (sentence.length > MAX_CHARS && iteration === 1) {\n    sentence = codeTrim(sentence);\n    sentences[i] = sentence;\n    projectData.impact_sentences[i] = sentence;\n  }\n  \n  if (sentence.length > MAX_CHARS) {\n    tooLongSentences.push({\n      sentence: sentence,\n      currentChars: sentence.length,\n      needToRemove: sentence.length - MAX_CHARS\n    });\n  } else {\n    validSentences.push(sentence);\n  }\n}\n\nconst allValid = tooLongSentences.length === 0;\nconst maxIterations = 5;\nconst shouldContinue = !allValid && iteration < maxIterations;\n\nreturn {\n  json: {\n    projectData: projectData,\n    tooLongSentences: tooLongSentences,\n    validSentences: validSentences,\n    allValid: allValid,\n    iteration: iteration,\n    shouldContinue: shouldContinue,\n    branch: 'projects'\n  }\n};"},"id":"e58295bb-ed67-4ff5-94c8-5a8b1186ce94","name":"Validate Char Count","type":"n8n-nodes-base.code","typeVersion":2,"position":[46816,34176],"disabled":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const response = $input.item.json;\nconst content = response.output || response.text || '';\n\nif (!content || content.trim() === '') {\n  throw new Error('[Parse Written Impact] AI返回空内容');\n}\n\nlet jsonStr = content;\n\nif (content.includes('```json')) {\n  const match = content.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (match) jsonStr = match[1];\n} else if (content.includes('```')) {\n  const match = content.match(/```\\s*([\\s\\S]*?)\\s*```/);\n  if (match) jsonStr = match[1];\n} else {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) jsonStr = jsonMatch[0];\n}\n\nlet impactData;\ntry {\n  impactData = JSON.parse(jsonStr.trim());\n} catch (e) {\n  throw new Error('[Parse Written Impact] JSON解析失败: ' + e.message);\n}\n\nif (!impactData.project_title || !impactData.impact_sentences) {\n  throw new Error('[Parse Written Impact] 缺少必填字段');\n}\n\nreturn {\n  json: {\n    projectData: impactData,\n    iteration: 0,\n    branch: 'projects'\n  }\n};"},"id":"1384538f-1888-4013-84bf-01d0afc66078","name":"Parse Written Impact","type":"n8n-nodes-base.code","typeVersion":2,"position":[46592,34176],"disabled":true},{"parameters":{"promptType":"define","text":"=<role>\nYou are a resume bullet-point writer. You convert raw project descriptions into concise, quantified impact statements for resumes. You output structured JSON only.\n</role>\n\n<context>\nTarget Skills: {{ JSON.stringify($json.currentProject.matched_skill) }}\nBusiness Goal: {{ $json.jdAnalysis.business_goal }}\nSuccess Metrics: {{ JSON.stringify($json.jdAnalysis.success_metrics) }}\nSeniority: {{ $json.jdAnalysis.seniority_level || 'entry-level' }}\nNote: Target Skills and Success Metrics are JSON arrays of strings.\n</context>\n\n<project_raw_data>\n{{ $json.projectContent }}\n</project_raw_data>\n\n<input_validation>\nBefore proceeding, check ALL of the following:\n- Target Skills is empty or contains unrendered template placeholders instead of an actual array.\n- Business Goal is empty or contains unrendered template placeholders instead of actual text.\n- project_raw_data is empty or under 50 characters.\n\nIf ANY check fails, return ONLY:\n{\"error\": \"Missing input data\", \"failed_fields\": [\"<field1>\", \"<field2>\"]}\nList every failed field. Do NOT output any other fields. Do NOT proceed to bullet writing.\n\nIf ALL checks pass, proceed and output the success format defined in <output_format>. Never mix the two formats.\n</input_validation>\n\n<accuracy_rule>\nSTRICT — this rule takes precedence over framing and wording choices:\n\n1. Only mention tools, languages, and frameworks EXPLICITLY stated in project_raw_data. If the project used Python, write Python — not Excel, not Alteryx, not SAS.\n2. Never invent metrics. If no specific number exists in the project data, describe impact qualitatively (e.g. \"significantly reduced\", \"streamlined\").\n3. Target Skills tells you which skills to EMPHASIZE — it does NOT mean the project used those exact tools. Frame the project's ACTUAL tools toward the JD's business language, but never substitute tools.\n4. Ignore any URLs in project_raw_data. Do not include links in bullets.\n\n✗ Wrong: Project uses Python → bullet says \"Excel\" because JD mentions Excel.\n✗ Wrong: Project has no revenue data → bullet says \"increased revenue by 15%\".\n✓ Correct: Project uses n8n for automation → frame as \"workflow automation\" to echo JD language, but name \"n8n\" as the actual tool.\n</accuracy_rule>\n\n<bullet_writing_rules>\nWrite exactly 5 impact sentences per project. Each sentence must describe a DISTINCT aspect of the project — no two bullets should cover the same achievement even with different wording. If the project lacks 5 distinct achievements, describe different facets: e.g. architecture decision, implementation detail, scale/volume, quality mechanism, and outcome.\n\nSeniority calibration based on the Seniority value in <context>:\n- \"intern\" or \"entry-level\" (or any unrecognized value): emphasize hands-on execution, learning velocity, and measurable output. Avoid claiming strategic leadership or organization-wide impact.\n- \"mid\" or \"senior\": emphasize decision-making scope, cross-team impact, and business outcomes.\n\nEach sentence:\n- Length: 12–18 words. After drafting all 5, recount each sentence's words and revise any outside this range.\n- Pattern: [Action verb] + [what you did] + [tool/method] + [one quantified result or qualitative impact]\n- Start with action verbs such as: Built, Designed, Automated, Optimized, Engineered, Developed, Implemented, Analyzed, Streamlined, Created. Use at least 4 different verbs across the 5 sentences.\n- Quantify: use %, ×improvement, time saved, count, or $ value where data exists in project_raw_data.\n- Never start with \"Responsible for\", \"Worked on\", or \"Helped with\".\n- No HTML tags — plain text only.\n\nWhere data allows, echo a Success Metrics keyword (e.g. \"efficiency\", \"accuracy\") naturally in the bullet. Do NOT force-fit — only use if the bullet's content genuinely reflects that metric.\n\nGOOD examples (with verified word counts):\n- \"Built automation pipeline with n8n and Claude API, cutting per-item processing from 40min to 2min\" → 15 words ✓\n- \"Designed 15-table PostgreSQL schema supporting 36 API endpoints across 8 functional modules\" → 12 words ✓\n- \"Extracted 500 job postings from 20+ company career sites achieving 95% extraction accuracy\" → 13 words ✓\n\nBAD example:\n- \"Led the development of a comprehensive machine learning pipeline using Python and scikit-learn framework to optimize the loan approval process achieving significant improvement in prediction accuracy metrics across test datasets\" → 30 words, far over limit, no specific metric ✗\n</bullet_writing_rules>\n\n<title_rules>\nExtract the project title from the first line starting with \"# \" in project_raw_data. If no such line exists, use the first non-empty line. Then shorten to under 55 characters:\n- Strip \"# \" prefix and any leading \"Project Name: \" filler.\n- Use abbreviations where natural: \"Application\" → \"App\", \"Recommendation\" → \"Rec.\"\n- If already under 55 chars after stripping filler, keep as-is.\nExample: \"# Project Name: GreenQuote — iPad Quoting & QuickBooks Integration App\" → \"GreenQuote — iPad Quoting & QuickBooks App\" (43 chars)\n</title_rules>\n\n<date_extraction>\nScan the first 5 lines of project_raw_data for a date pattern matching:\n  [Month] [Year] - [Month] [Year]  OR  [Month] [Year] - Present\n\nOutput format: \"MMM YYYY - MMM YYYY\" or \"MMM YYYY - Present\" (3-letter month).\nExamples: \"October 2025 - December 2025\" → \"Oct 2025 - Dec 2025\". \"January 2026 - Present\" → \"Jan 2026 - Present\".\nIf no date pattern found, return \"Not specified\".\n</date_extraction>\n\n<output_format>\nOn success, return ONLY this JSON (no markdown fences, no explanation):\n\n{\n  \"project_title\": \"<under 55 chars, per title_rules>\",\n  \"project_date\": \"<per date_extraction>\",\n  \"original_name\": \"{{ $json.projectFileName }}\",\n  \"matched_skill\": {{ JSON.stringify($json.currentProject.matched_skill) }},\n  \"impact_sentences\": [\n    \"<12-18 words>\",\n    \"<12-18 words>\",\n    \"<12-18 words>\",\n    \"<12-18 words>\",\n    \"<12-18 words>\"\n  ]\n}\n\nField rules:\n- project_title: string, under 55 characters per <title_rules>.\n- project_date: string per <date_extraction>.\n- original_name: return this value EXACTLY as shown above. Do not modify it.\n- matched_skill: return this value EXACTLY as shown above. Do not modify it.\n- impact_sentences: array of exactly 5 strings, each 12–18 words per <bullet_writing_rules>.\n</output_format>","options":{"returnIntermediateSteps":false}},"id":"b2d047eb-e597-45fe-8ea7-fc81b3009e1f","name":"AI - Write Impact (Step 1)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[46240,34176],"disabled":true},{"parameters":{"jsCode":"const response = $input.first().json;\nconst previousData = $('Process Projects').first().json;\nlet projectsData;\n\ntry {\n  const content = response.output || response.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    projectsData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  projectsData = { selected_projects: [] };\n}\n\nconst projectsMap = previousData.projectsMap || {};\nconst projectUrlsMap = previousData.projectUrlsMap || {};\n\nconst availableKeys = Object.keys(projectsMap);\n\nconst enrichedProjects = (projectsData.selected_projects || []).map(project => {\n  const fileName = project.file_name || '';\n  let matchedKey = '';\n  \n  let projectContent = projectsMap[fileName] || '';\n  if (projectContent) {\n    matchedKey = fileName;\n  }\n  \n  if (!projectContent) {\n    const normalizedFileName = fileName.toLowerCase().replace(/[\\s-]/g, '_').replace(/_+/g, '_');\n    for (const [key, value] of Object.entries(projectsMap)) {\n      const normalizedKey = key.toLowerCase().replace(/[\\s-]/g, '_').replace(/_+/g, '_');\n      if (normalizedKey === normalizedFileName || key.toLowerCase() === fileName.toLowerCase()) {\n        projectContent = value;\n        matchedKey = key;\n        break;\n      }\n    }\n  }\n  \n  return {\n    ...project,\n    projectContent: projectContent,\n    projectUrl: projectUrlsMap[matchedKey] || '',\n    matchedKey: matchedKey\n  };\n});\n\nconst staticData = $getWorkflowStaticData('global');\nconst batchId = Date.now().toString();\nstaticData.batchId = batchId;\nstaticData.expectedProjectCount = enrichedProjects.length;\nstaticData.projectResults = [];\n\nreturn enrichedProjects.map(project => ({\n  json: {\n    jdAnalysis: previousData.jdAnalysis,\n    top3Skills: previousData.top3Skills,\n    currentProject: project,\n    projectContent: project.projectContent,\n    projectFileName: project.file_name,\n    projectUrl: project.projectUrl || '',\n    expectedProjectCount: enrichedProjects.length,\n    batchId: batchId,\n    branch: 'projects',\n    debug: {\n      availableKeys: availableKeys,\n      requestedFileName: project.file_name,\n      matchedKey: project.matchedKey,\n      contentFound: !!project.projectContent,\n      contentLength: project.projectContent?.length || 0,\n      contentPreview: project.projectContent?.substring(0, 200) || 'EMPTY'\n    }\n  }\n}));"},"id":"db8c4894-981d-4284-8a5d-44e32fc3a792","name":"Parse Selected Projects","type":"n8n-nodes-base.code","typeVersion":2,"position":[46016,34176],"disabled":true},{"parameters":{"promptType":"define","text":"=<role>\nYou are a resume project selector. You match a candidate's past projects to a job description's business needs and output structured JSON only.\n</role>\n\n<business_context>\nGoal: {{ $json.jdAnalysis.business_goal }}\nTop 5 Skills: {{ JSON.stringify($json.top5Skills) }}\nNote: Top 5 Skills is a JSON array of strings, e.g. [\"Skill_A\", \"Skill_B\", \"Skill_C\"].\n</business_context>\n\n<available_projects>\n{{ $json.projectsContent }}\n</available_projects>\n\n<input_validation>\nBefore proceeding, check ALL of the following:\n- Goal is empty or contains unrendered template placeholders (e.g. dollar-sign variable references).\n- Top 5 Skills is empty or contains the literal text \"JSON.stringify\" instead of an actual array.\n- available_projects is empty or contains no [FILE: ...] markers.\n\nIf ANY check fails, return ONLY:\n{\"error\": \"Missing input data\", \"failed_fields\": [\"Goal\", \"Top 5 Skills\"]}\nList every failed field. Do NOT output any other fields. Do NOT proceed with selection.\n\nIf ALL checks pass, proceed and output the success format defined in <output_format>. Never mix the two formats.\n</input_validation>\n\n<selection_rules>\nSelect exactly 3 projects from <available_projects>. NEVER invent or fabricate projects not present in available_projects.\n\nPriorities IN ORDER — earlier rules override later ones:\n\n1. RELEVANCE (highest): Choose projects that most directly address the business Goal.\n2. SKILL COVERAGE: The 3 projects combined should cover as many Top 5 Skills as possible. Aim for all 5; 4 is acceptable; below 4 is permitted only if no better combination exists.\n3. RECENTNESS (tiebreaker only): Among equally relevant projects, favor more recent ones.\n\nBoundary cases:\n- Fewer than 3 projects available → return all available projects.\n- A selected project matches zero Top 5 Skills → set its matched_skills to an empty array [].\n- No project matches ANY Top 5 Skill → select the 3 most thematically relevant to Goal and add \"low_confidence\": true to each object.\n</selection_rules>\n\n<file_name_extraction>\nEach project starts with a [FILE: xxx] marker. Extract file_name from this marker character-for-character.\n\n✓ Correct:\n  Marker: [FILE: car-price-regression] → file_name: \"car-price-regression\"\n\n✗ Wrong (never do these):\n  \"Car Price Regression\" — translated/reformatted\n  \"car_price_regression\" — changed punctuation\n  \"pricing-optimization-project\" — invented from content\n</file_name_extraction>\n\n<output_format>\nReturn ONLY a valid JSON object. No markdown fences, no explanation, no text outside the JSON.\n\nSchema:\n{\n  \"selected_projects\": [\n    {\n      \"file_name\": \"<exact string from [FILE: xxx] marker>\",\n      \"matched_skills\": [\"<Skill from Top 5>\", \"<Skill from Top 5>\"],\n      \"relevance_reason\": \"<max 20 words: why this project addresses the Goal>\"\n    }\n  ]\n}\n\nField rules:\n- selected_projects: exactly 3 objects (fewer only if fewer than 3 projects exist). Index 0 = best match.\n- file_name: see <file_name_extraction>.\n- matched_skills: JSON array of strings. Each string must be copied verbatim from the Top 5 Skills array. Include ALL Top 5 Skills this project demonstrates. Use [] if the project matches none.\n- relevance_reason: one sentence, max 20 words.\n- low_confidence: omit by default. Add \"low_confidence\": true ONLY when the no-match fallback in <selection_rules> is triggered.\n</output_format>","options":{"returnIntermediateSteps":false}},"id":"49a4529d-c00c-48f4-b79a-61b7c1d1147b","name":"AI - Select Top 3 Projects","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[45664,34176],"disabled":true},{"parameters":{"jsCode":"const previousData = $('Parse JD Analysis').first().json;\nconst items = $input.all();\n\nlet projectsContent = '';\nconst projectsMap = {};\nconst projectUrlsMap = {};\nconst debugInfo = [];\n\ntry {\n  for (let i = 0; i < items.length; i++) {\n    const item = items[i];\n    try {\n      const binaryDataBuffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n      const content = binaryDataBuffer.toString('utf-8');\n      \n      const fileName = item.binary?.data?.fileName || '';\n      const cleanName = fileName.replace(/\\.md$/i, '').replace(/^.*[\\\\\\/]/, '');\n      \n      const urlMatch = content.match(/^URL:\\s*(.+)$/m);\n      const projectUrl = urlMatch ? urlMatch[1].trim() : '';\n      \n      projectsContent += `[FILE: ${cleanName}]\\n${content}\\n\\n`;\n      \n      debugInfo.push({\n        originalFileName: fileName,\n        cleanName: cleanName,\n        contentLength: content.length,\n        firstLine: content.split('\\n')[0],\n        secondLine: content.split('\\n')[1] || 'NO SECOND LINE'\n      });\n      \n      if (cleanName) {\n        projectsMap[cleanName] = content;\n        projectUrlsMap[cleanName] = projectUrl;\n      }\n    } catch (e) {\n      debugInfo.push({ error: e.message, index: i });\n    }\n  }\n} catch (error) {\n  projectsContent = '';\n}\n\nreturn [{\n  json: {\n    ...previousData,\n    projectsContent: projectsContent,\n    projectsMap: projectsMap,\n    projectUrlsMap: projectUrlsMap,\n    branch: 'projects',\n    debugProcessProjects: {\n      filesProcessed: debugInfo,\n      mapKeys: Object.keys(projectsMap),\n      totalFiles: items.length\n    }\n  }\n}];"},"id":"9ff2d721-1047-4177-9024-4d1694cf63b4","name":"Process Projects","type":"n8n-nodes-base.code","typeVersion":2,"position":[45440,34176],"disabled":true},{"parameters":{"fileSelector":"/home/node/.n8n-files/data/relevant_project/*.md","options":{}},"id":"c6a58714-c84b-48ac-a295-243fd219c126","name":"Read Project Files","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[45216,34176],"disabled":true},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{"maxTokensToSample":4000,"temperature":0.2}},"id":"3a829188-faf8-447b-9ebe-8e95cbb001e3","name":"Claude - Skills Shortener","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[48144,33264],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}},"disabled":true},{"parameters":{"jsCode":"const input = $input.first().json;\n\n// Final output - extract skillsByCategory from skillsData\nreturn [{\n  json: {\n    skillsByCategory: input.skillsData?.skills_by_category || {},\n    branch: 'skills'\n  }\n}];"},"id":"e3bcdbf3-babc-43ac-aff3-48a2588359e1","name":"Finalize Skills","type":"n8n-nodes-base.code","typeVersion":2,"position":[47600,33728],"disabled":true},{"parameters":{"jsCode":"const input = $input.first().json;\nconst content = input.output || input.text || '';\n\n// Get iteration from the Check Skills Loop node\nconst checkLoopData = $('Check Skills Loop').first().json;\nconst iteration = checkLoopData.iteration || 1;\n\nlet skillsData;\nlet jsonStr = content;\n\nif (content.includes('```json')) {\n  const match = content.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (match) jsonStr = match[1];\n} else if (content.includes('```')) {\n  const match = content.match(/```\\s*([\\s\\S]*?)\\s*```/);\n  if (match) jsonStr = match[1];\n} else {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) jsonStr = jsonMatch[0];\n}\n\ntry {\n  skillsData = JSON.parse(jsonStr.trim());\n} catch (e) {\n  throw new Error('Failed to parse shortened skills: ' + e.message);\n}\n\nreturn [{\n  json: {\n    skillsData: skillsData,\n    iteration: iteration,\n    branch: 'skills'\n  }\n}];"},"id":"899bc3f8-2c83-4ce5-804f-83eba0a5bae2","name":"Parse Shortened Skills","type":"n8n-nodes-base.code","typeVersion":2,"position":[47936,33680],"disabled":true},{"parameters":{"promptType":"define","text":"=AGGRESSIVELY shorten each skill category line to under 86 characters.\n\n<categories_too_long>\n{{ JSON.stringify($json.tooLongCategories) }}\n</categories_too_long>\n\n<valid_categories>\n{{ JSON.stringify($json.validCategories) }}\n</valid_categories>\n\n<CRITICAL_REQUIREMENT>\nEach line when rendered as \"Category: skill1, skill2, skill3\" must be UNDER 86 characters.\nYou must CUT aggressively. Be RUTHLESS.\n</CRITICAL_REQUIREMENT>\n\n<shortening_rules>\n1. SHORTEN category names: \"Data Analysis & Programming\" → \"Programming\"\n2. REMOVE ALL parenthetical details: \"Python (NumPy, Pandas)\" → \"Python\"\n3. USE abbreviations: \"PostgreSQL\" → \"Postgres\", \"JavaScript\" → \"JS\"\n4. REMOVE lowest-priority skills (keep only top 3-4 per category)\n5. COMBINE similar items: \"MySQL\", \"PostgreSQL\" → \"SQL (MySQL, Postgres)\"\n\n<examples>\nBEFORE (128 chars): \"Data Analysis & Programming: Python (NumPy, Pandas, scikit-learn), SQL (MySQL, complex queries), R (statistical modeling)\"\nAFTER (52 chars): \"Programming: Python, SQL, R, Machine Learning\"\n\nBEFORE (95 chars): \"Analytics Tools & Platforms: Power BI (visualization), Looker, Snowflake, Amplitude, DBT\"\nAFTER (50 chars): \"Analytics: Power BI, Looker, Snowflake, DBT\"\n</examples>\n\nReturn ONLY valid JSON with ALL categories (both fixed and already-valid ones):\n{\"skills_by_category\": {\"Programming\": [\"Python\", \"SQL\", \"R\"], \"Tools\": [\"Power BI\", \"Looker\"]}}","options":{"returnIntermediateSteps":false}},"id":"3824a852-af50-4290-889b-2780f3c5195b","name":"AI - Shorten Skills Lines","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[47616,33264],"disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"condition-skills-continue","leftValue":"={{ $json.shouldContinue }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"5acfcaba-4a4a-4312-a5cd-cb9aa0c2d82c","name":"Check Skills Loop","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[47328,33424],"disabled":true},{"parameters":{"jsCode":"const input = $input.first().json;\nlet skillsData = input.skillsData;\n\n// If coming from AI - Shorten Skills Lines, parse the response\nif (input.output || input.text) {\n  const content = input.output || input.text || '';\n  let jsonStr = content;\n  \n  if (content.includes('```json')) {\n    const match = content.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n    if (match) jsonStr = match[1];\n  } else if (content.includes('```')) {\n    const match = content.match(/```\\s*([\\s\\S]*?)\\s*```/);\n    if (match) jsonStr = match[1];\n  } else {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) jsonStr = jsonMatch[0];\n  }\n  \n  try {\n    skillsData = JSON.parse(jsonStr.trim());\n  } catch (e) {\n    // Keep existing skillsData if parse fails\n  }\n}\n\nconst MAX_CHARS = 86;\nconst iteration = (input.iteration || 0) + 1;\n\n// ========== Code-based pre-trimming (first iteration only) ==========\nconst abbr = { 'PostgreSQL': 'Postgres', 'JavaScript': 'JS', 'TypeScript': 'TS' };\nconst catShort = {\n  'Data Analysis & Programming': 'Programming',\n  'Analytics Tools & Platforms': 'Analytics',\n  'Machine Learning & AI': 'ML & AI',\n  'Database Management': 'Databases',\n  'Cloud & Infrastructure': 'Cloud',\n  'Data Engineering & Processing': 'Data Engineering',\n};\n\nfunction lineLen(cat, skills) { return `${cat}: ${skills.join(', ')}`.length; }\nfunction rmParens(s) { return s.replace(/\\s*\\([^)]*\\)/g, '').trim(); }\nfunction doAbbr(s) { let r = s; for (const [f, a] of Object.entries(abbr)) r = r.replace(f, a); return r; }\n\nif (iteration === 1) {\n  const refined = {};\n  for (const [origCat, origSkills] of Object.entries(skillsData.skills_by_category || {})) {\n    if (!Array.isArray(origSkills)) continue;\n    let cat = origCat;\n    let skills = [...origSkills];\n    \n    if (lineLen(cat, skills) > MAX_CHARS) {\n      skills = skills.map(rmParens);\n      if (lineLen(cat, skills) > MAX_CHARS) cat = catShort[cat] || cat;\n      if (lineLen(cat, skills) > MAX_CHARS) skills = skills.map(doAbbr);\n      while (skills.length > 3 && lineLen(cat, skills) > MAX_CHARS) skills.pop();\n    }\n    refined[cat] = skills;\n  }\n  skillsData = { skills_by_category: refined };\n}\n\n// ========== Validation ==========\nfunction getRenderedLineLength(category, skills) {\n  return `${category}: ${skills.join(', ')}`.length;\n}\n\nconst skillsByCategory = skillsData.skills_by_category || {};\nconst tooLongCategories = [];\nconst validCategories = {};\n\nfor (const [category, skills] of Object.entries(skillsByCategory)) {\n  if (!Array.isArray(skills)) continue;\n  \n  const lineLength = getRenderedLineLength(category, skills);\n  if (lineLength > MAX_CHARS) {\n    tooLongCategories.push({\n      category: category,\n      skills: skills,\n      currentChars: lineLength,\n      needToRemove: lineLength - MAX_CHARS\n    });\n  } else {\n    validCategories[category] = skills;\n  }\n}\n\nconst allValid = tooLongCategories.length === 0;\nconst maxIterations = 5;\nconst shouldContinue = !allValid && iteration < maxIterations;\n\nreturn [{\n  json: {\n    skillsData: skillsData,\n    tooLongCategories: tooLongCategories,\n    validCategories: validCategories,\n    allValid: allValid,\n    iteration: iteration,\n    shouldContinue: shouldContinue,\n    branch: 'skills'\n  }\n}];"},"id":"92d507e9-fa55-4b4a-9029-5f86d3aad304","name":"Validate Skills Char Count","type":"n8n-nodes-base.code","typeVersion":2,"position":[47040,33488],"disabled":true},{"parameters":{"jsCode":"const response = $input.first().json;\nlet skillsData;\n\ntry {\n  const content = response.output || response.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    skillsData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  skillsData = { skills_by_category: {} };\n}\n\nconst previousData = $('Process Skills').first().json;\n\nreturn [{\n  json: {\n    ...previousData,\n    rawSkillsByCategory: skillsData.skills_by_category || {},\n    branch: 'skills'\n  }\n}];"},"id":"97a77787-a86d-498b-8270-4370a03c1ecd","name":"Parse Generated Skills","type":"n8n-nodes-base.code","typeVersion":2,"position":[46592,33488],"disabled":true},{"parameters":{"promptType":"define","text":"=Create a high-impact Skills section by aligning the user's REAL skills with JD requirements.\n\n<jd_analysis>\n{{ JSON.stringify($json.jdAnalysis) }}\n</jd_analysis>\n\n<user_skills>\n{{ $json.skillsContent }}\n</user_skills>\n\n<HONESTY_RULE - HIGHEST PRIORITY>\nONLY include tools/skills the user actually has (listed in user_skills).\nNEVER add tools just because the JD mentions them.\nNEVER use \"Familiar with [Tool]\" for tools not in user_skills.\n\nFORBIDDEN: Adding \"Alteryx\" because JD mentions it but user doesn't have it.\nFORBIDDEN: Adding \"Bloomberg Terminal\" because JD mentions it but user never used it.\nALLOWED: If user has \"MySQL\" and JD says \"SQL\", list as \"SQL (MySQL)\" — this is terminology alignment, not fabrication.\n</HONESTY_RULE>\n\n<logic_rules>\n1. TERMINOLOGY ALIGNMENT: Use JD phrasing for skills the user genuinely has.\n   - User has \"Matplotlib\" + JD says \"Data Visualization\" → \"Data Visualization (Matplotlib)\"\n   - User has \"pandas\" + JD says \"data cleaning\" → \"Data Cleaning & Transformation (pandas)\"\n2. HIERARCHY: Sort categories by relevance to JD — most important category first.\n3. LIMITS: Max 4 categories. Max 6 items per category. Total under 20 items.\n4. PRIORITIZE: Essential JD skills that user actually has should appear first.\n5. CHARACTER LIMIT: Each rendered line \"Category: skill1, skill2, skill3\" should aim to be under 86 characters. Keep category names short (e.g., \"Programming\" not \"Data Analysis & Programming\"). Avoid long parenthetical details.\n</logic_rules>\n\nReturn ONLY valid JSON (no markdown fences):\n{\"skills_by_category\": {\"Programming\": [\"Python (Pandas, NumPy)\", \"SQL (MySQL)\", \"R\"], \"Analytics\": [\"Data Visualization (Matplotlib)\", \"Statistical Modeling\"]}}","options":{"returnIntermediateSteps":false}},"id":"1f95e9f1-497a-427e-b741-29611d4c07c6","name":"AI - Generate Skills (Step 1)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[46240,33488],"disabled":true},{"parameters":{"jsCode":"const previousData = $('Parse JD Analysis').first().json;\n\nlet skillsContent = '';\ntry {\n  // Use n8n's built-in helper to read binary data (handles filesystem-v2 mode)\n  const binaryDataBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  skillsContent = binaryDataBuffer.toString('utf-8');\n} catch (e) {\n  skillsContent = '';\n}\n\nreturn [{\n  json: {\n    ...previousData,\n    skillsContent: skillsContent,\n    branch: 'skills'\n  }\n}];"},"id":"de95589e-5351-4e88-a6a1-2aea2167fde6","name":"Process Skills","type":"n8n-nodes-base.code","typeVersion":2,"position":[46016,33488],"disabled":true},{"parameters":{"fileSelector":"/home/node/.n8n-files/data/relevant_skills.md","options":{}},"id":"95b3ac9c-6ab8-495a-aded-3057f076c536","name":"Read Skills File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[45728,33488],"disabled":true},{"parameters":{"jsCode":"const response = $input.first().json;\nlet coursesData;\n\ntry {\n  const content = response.output || response.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    coursesData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  coursesData = { selected_courses: [] };\n}\n\nreturn [{\n  json: {\n    bachelorCourses: coursesData.selected_courses || [],\n    branch: 'bachelor_courses'\n  }\n}];"},"id":"7493ca9b-9dd4-4b03-98d1-f5ba12aac37b","name":"Parse Bachelor Courses","type":"n8n-nodes-base.code","typeVersion":2,"position":[46016,33072],"disabled":true},{"parameters":{"promptType":"define","text":"=Select courses that provide the strongest FOUNDATIONAL knowledge for the target job skills.\n\n<target_skills>\n{{ JSON.stringify($json.jdAnalysis.top_5_skills?.map(s => s.skill) || []) }}\n</target_skills>\n\n<available_courses>\n{{ $json.bachelorCoursesContent }}\n</available_courses>\n\n<rules>\n1. Select 4-6 courses with strongest FOUNDATIONAL relevance to the target skills\n2. Courses do NOT need to be exact tool matches. For example: Mathematical Statistics supports data analysis roles even if the JD asks for Python or SQL\n3. Prioritize: statistics, math modeling, algorithms, data structures, quantitative methods, and any applied/computational courses\n4. You MUST always return at least 4 courses. NEVER return an empty array\n5. Return EXACT course names as listed\n</rules>\n\nReturn ONLY valid JSON: {\"selected_courses\": [\"Statistics\", \"Linear Algebra\"]}","options":{"returnIntermediateSteps":false}},"id":"fd0db15c-f8a6-4cde-9c9c-01dcb452ec38","name":"AI - Extract Bachelor Courses","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[45664,33072],"disabled":true},{"parameters":{"jsCode":"const previousData = $('Parse JD Analysis').first().json;\n\nlet bachelorCoursesContent = '';\ntry {\n  // Use n8n's built-in helper to read binary data (handles filesystem-v2 mode)\n  const binaryDataBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  bachelorCoursesContent = binaryDataBuffer.toString('utf-8');\n} catch (e) {\n  bachelorCoursesContent = '';\n}\n\nreturn [{\n  json: {\n    ...previousData,\n    bachelorCoursesContent: bachelorCoursesContent,\n    branch: 'bachelor_courses'\n  }\n}];"},"id":"c889d30c-60f3-4654-93eb-e1da0d48301a","name":"Process Bachelor Courses","type":"n8n-nodes-base.code","typeVersion":2,"position":[45440,33072],"disabled":true},{"parameters":{"fileSelector":"/home/node/.n8n-files/data/edu_bech_course.md","options":{}},"id":"f5bde6cb-2f7e-449e-a0c2-222d9d481e48","name":"Read Bachelor Courses File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[45216,33072],"disabled":true},{"parameters":{"jsCode":"const response = $input.first().json;\nlet coursesData;\n\ntry {\n  const content = response.output || response.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    coursesData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  coursesData = { selected_courses: [] };\n}\n\nreturn [{\n  json: {\n    masterCourses: coursesData.selected_courses || [],\n    branch: 'master_courses'\n  }\n}];"},"id":"07ff0a45-a1b6-4cef-ac32-f45489396072","name":"Parse Master Courses","type":"n8n-nodes-base.code","typeVersion":2,"position":[46016,32672],"disabled":true},{"parameters":{"jsCode":"const previousData = $('Parse JD Analysis').first().json;\n\nlet masterCoursesContent = '';\ntry {\n  // Use n8n's built-in helper to read binary data (handles filesystem-v2 mode)\n  const binaryDataBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  masterCoursesContent = binaryDataBuffer.toString('utf-8');\n} catch (e) {\n  masterCoursesContent = '';\n}\n\nreturn [{\n  json: {\n    ...previousData,\n    masterCoursesContent: masterCoursesContent,\n    branch: 'master_courses'\n  }\n}];"},"id":"18cfe54f-b583-4aaf-849f-8ee46ef250bc","name":"Process Master Courses","type":"n8n-nodes-base.code","typeVersion":2,"position":[45440,32672],"disabled":true},{"parameters":{"fileSelector":"/home/node/.n8n-files/data/edu_master_course.md","options":{}},"id":"ad1db7c1-af7c-4a3d-be5b-709dfbf96ece","name":"Read Master Courses File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[45216,32672],"disabled":true},{"parameters":{"jsCode":"const response = $input.first().json;\nlet jdAnalysis;\n\ntry {\n  const content = response.output || response.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    jdAnalysis = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  jdAnalysis = {\n    company_name: 'Unknown Company',\n    job_title: 'Unknown',\n    location: '',\n    core_mission: '',\n    top_5_skills: [],\n    inferred_pain_points: '',\n    tone_and_style: 'Professional',\n    value_proposition: '',\n    business_goal: '',\n    success_metrics: [],\n    seniority_level: 'junior',\n    ats_keywords: [],\n    error: e.message\n  };\n}\n\nconst triggerData = $('When Executed by Another Workflow').first().json;\nconst originalJD = triggerData['Job Description'] || '';\n\nreturn [{\n  json: {\n    jobDescription: originalJD,\n    jdAnalysis: jdAnalysis,\n    top3Skills: jdAnalysis.top_5_skills?.slice(0, 3) || [],\n    top5Skills: jdAnalysis.top_5_skills || []\n  }\n}];"},"id":"3c735e5d-a695-4cec-b25c-2e1c448a0675","name":"Parse JD Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[44992,33344],"disabled":true},{"parameters":{"promptType":"define","text":"=Analyze this job description to extract key requirements, business context, and strategic insights.\n\n<job_description>\n{{ $json['Job Description'] }}\n</job_description>\n\n<rules>\n1. IDENTIFY: Top 5 skills ranked by importance (technical, soft, domain-specific).\n2. INFER: Primary business goal and core mission of this role.\n3. EXTRACT: Success metric keywords (e.g., \"scalability\", \"accuracy\", \"efficiency\").\n4. CATEGORIZE each skill as essential (explicitly required) or complementary (nice-to-have).\n5. DETECT seniority level: \"intern\", \"junior\" (0-2yr), \"mid\" (3-5yr), \"senior\" (5+yr).\n6. EXTRACT 3-5 ATS keywords for resume matching.\n7. INFER: Hidden pain points — what is the company likely struggling with?\n8. ASSESS: Tone and style of the posting (e.g., Professional/Rigorous or Bold/Innovative).\n9. DETERMINE: The #1 value proposition they seek in a candidate.\n</rules>\n\nReturn ONLY valid JSON (no markdown fences, no explanation):\n{\n  \"company_name\": \"\",\n  \"job_title\": \"\",\n  \"location\": \"\",\n  \"core_mission\": \"One sentence summary of why this role exists\",\n  \"top_5_skills\": [{\"rank\": 1, \"skill\": \"Python\", \"category\": \"technical\", \"is_essential\": true}],\n  \"inferred_pain_points\": \"The specific problem the candidate needs to solve\",\n  \"tone_and_style\": \"e.g., Professional/Rigorous or Bold/Innovative\",\n  \"value_proposition\": \"The #1 thing they are looking for in a candidate\",\n  \"business_goal\": \"Optimize performance marketing ROI\",\n  \"success_metrics\": [\"efficiency\", \"ROI\", \"accuracy\"],\n  \"seniority_level\": \"intern\",\n  \"ats_keywords\": [\"financial reporting\", \"data automation\"]\n}","options":{"returnIntermediateSteps":false}},"id":"be78bc26-3f7c-40df-a60c-808468def612","name":"AI Agent - Analyze JD","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[44640,33344],"disabled":true},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":20000,"temperature":0.2}},"id":"f11cd7d9-fb3d-4f30-bcc7-7b497690cb84","name":"Claude - JD Analysis","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[44720,33568],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}},"disabled":true},{"parameters":{"jsCode":"const input = $input.first().json;\nconst rawSkillsByCategory = input.rawSkillsByCategory || {};\nconst MAX_CHARS = 86;\n\nconst abbreviations = {\n  'PostgreSQL': 'Postgres', 'JavaScript': 'JS', 'TypeScript': 'TS',\n  'development': 'dev', 'Management': 'Mgmt', 'management': 'mgmt',\n};\n\nconst categoryShortnames = {\n  'Data Analysis & Programming': 'Programming',\n  'Analytics Tools & Platforms': 'Analytics',\n  'Machine Learning & AI': 'ML & AI',\n  'Database Management': 'Databases',\n  'Cloud & Infrastructure': 'Cloud',\n  'Data Engineering & Processing': 'Data Engineering',\n};\n\nfunction removeParentheticals(skill) {\n  return skill.replace(/\\s*\\([^)]*\\)/g, '').trim();\n}\n\nfunction abbreviate(skill) {\n  let result = skill;\n  for (const [full, abbr] of Object.entries(abbreviations)) {\n    result = result.replace(full, abbr);\n  }\n  return result;\n}\n\nfunction getLineLength(category, skills) {\n  return `${category}: ${skills.join(', ')}`.length;\n}\n\nconst refinedSkills = {};\n\nfor (const [category, skills] of Object.entries(rawSkillsByCategory)) {\n  if (!Array.isArray(skills)) continue;\n  \n  let currentCategory = category;\n  let currentSkills = [...skills];\n  \n  // Step 1: Check if already valid\n  if (getLineLength(currentCategory, currentSkills) <= MAX_CHARS) {\n    refinedSkills[currentCategory] = currentSkills;\n    continue;\n  }\n  \n  // Step 2: Remove parentheticals\n  currentSkills = currentSkills.map(removeParentheticals);\n  if (getLineLength(currentCategory, currentSkills) <= MAX_CHARS) {\n    refinedSkills[currentCategory] = currentSkills;\n    continue;\n  }\n  \n  // Step 3: Shorten category name\n  currentCategory = categoryShortnames[currentCategory] || currentCategory;\n  if (getLineLength(currentCategory, currentSkills) <= MAX_CHARS) {\n    refinedSkills[currentCategory] = currentSkills;\n    continue;\n  }\n  \n  // Step 4: Abbreviate skills\n  currentSkills = currentSkills.map(abbreviate);\n  if (getLineLength(currentCategory, currentSkills) <= MAX_CHARS) {\n    refinedSkills[currentCategory] = currentSkills;\n    continue;\n  }\n  \n  // Step 5: Truncate to fit\n  while (currentSkills.length > 3 && getLineLength(currentCategory, currentSkills) > MAX_CHARS) {\n    currentSkills.pop();\n  }\n  \n  refinedSkills[currentCategory] = currentSkills;\n}\n\nreturn [{\n  json: {\n    skillsData: { skills_by_category: refinedSkills },\n    branch: 'skills'\n  }\n}];"},"id":"5a3d9066-c16d-4427-9b71-9bc16aea5ac8","name":"Refine Skills (Code)","type":"n8n-nodes-base.code","typeVersion":2,"position":[46816,33488],"disabled":true}],"connections":{"AI - Extract Master Courses":{"main":[[{"node":"Parse Master Courses","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent - Analyze JD","type":"main","index":0}]]},"Claude - JD Analysis4":{"ai_languageModel":[[{"node":"AI - Extract Master Courses","type":"ai_languageModel","index":0}]]},"Claude - JD Analysis3":{"ai_languageModel":[[{"node":"AI - Generate Skills (Step 1)","type":"ai_languageModel","index":0}]]},"Claude - JD Analysis2":{"ai_languageModel":[[{"node":"AI - Select Top 3 Projects","type":"ai_languageModel","index":0}]]},"Claude - JD Analysis1":{"ai_languageModel":[[{"node":"AI - Write Impact (Step 1)","type":"ai_languageModel","index":0}]]},"Claude - JD Analysis6":{"ai_languageModel":[[{"node":"AI - Extract Bachelor Courses","type":"ai_languageModel","index":0}]]},"Read Template File":{"main":[[{"node":"Generate Resume HTML","type":"main","index":0}]]},"Combine All Data":{"main":[[{"node":"Read Template File","type":"main","index":0}]]},"Merge All Results":{"main":[[{"node":"Combine All Data","type":"main","index":0}]]},"Merge Skills & Projects":{"main":[[{"node":"Merge All Results","type":"main","index":1}]]},"Merge Courses":{"main":[[{"node":"Merge All Results","type":"main","index":0}]]},"Aggregate Project Results":{"main":[[{"node":"Merge Skills & Projects","type":"main","index":1}]]},"Claude - Shortener":{"ai_languageModel":[[{"node":"AI - Shorten Sentences","type":"ai_languageModel","index":0}]]},"Finalize Project":{"main":[[{"node":"Aggregate Project Results","type":"main","index":0}]]},"Parse Shortened":{"main":[[{"node":"Validate Char Count","type":"main","index":0}]]},"AI - Shorten Sentences":{"main":[[{"node":"Parse Shortened","type":"main","index":0}]]},"Check Loop":{"main":[[{"node":"AI - Shorten Sentences","type":"main","index":0}],[{"node":"Finalize Project","type":"main","index":0}]]},"Validate Char Count":{"main":[[{"node":"Check Loop","type":"main","index":0}]]},"Parse Written Impact":{"main":[[{"node":"Validate Char Count","type":"main","index":0}]]},"AI - Write Impact (Step 1)":{"main":[[{"node":"Parse Written Impact","type":"main","index":0}]]},"Parse Selected Projects":{"main":[[{"node":"AI - Write Impact (Step 1)","type":"main","index":0}]]},"AI - Select Top 3 Projects":{"main":[[{"node":"Parse Selected Projects","type":"main","index":0}]]},"Process Projects":{"main":[[{"node":"AI - Select Top 3 Projects","type":"main","index":0}]]},"Read Project Files":{"main":[[{"node":"Process Projects","type":"main","index":0}]]},"Claude - Skills Shortener":{"ai_languageModel":[[{"node":"AI - Shorten Skills Lines","type":"ai_languageModel","index":0}]]},"Finalize Skills":{"main":[[{"node":"Merge Skills & Projects","type":"main","index":0}]]},"Parse Shortened Skills":{"main":[[{"node":"Validate Skills Char Count","type":"main","index":0}]]},"AI - Shorten Skills Lines":{"main":[[{"node":"Parse Shortened Skills","type":"main","index":0}]]},"Check Skills Loop":{"main":[[{"node":"AI - Shorten Skills Lines","type":"main","index":0}],[{"node":"Finalize Skills","type":"main","index":0}]]},"Validate Skills Char Count":{"main":[[{"node":"Check Skills Loop","type":"main","index":0}]]},"AI - Generate Skills (Step 1)":{"main":[[{"node":"Parse Generated Skills","type":"main","index":0}]]},"Process Skills":{"main":[[{"node":"AI - Generate Skills (Step 1)","type":"main","index":0}]]},"Read Skills File":{"main":[[{"node":"Process Skills","type":"main","index":0}]]},"Parse Bachelor Courses":{"main":[[{"node":"Merge Courses","type":"main","index":1}]]},"AI - Extract Bachelor Courses":{"main":[[{"node":"Parse Bachelor Courses","type":"main","index":0}]]},"Process Bachelor Courses":{"main":[[{"node":"AI - Extract Bachelor Courses","type":"main","index":0}]]},"Read Bachelor Courses File":{"main":[[{"node":"Process Bachelor Courses","type":"main","index":0}]]},"Parse Master Courses":{"main":[[{"node":"Merge Courses","type":"main","index":0}]]},"Process Master Courses":{"main":[[{"node":"AI - Extract Master Courses","type":"main","index":0}]]},"Read Master Courses File":{"main":[[{"node":"Process Master Courses","type":"main","index":0}]]},"Parse JD Analysis":{"main":[[{"node":"Read Project Files","type":"main","index":0},{"node":"Read Skills File","type":"main","index":0},{"node":"Read Bachelor Courses File","type":"main","index":0},{"node":"Read Master Courses File","type":"main","index":0}]]},"AI Agent - Analyze JD":{"main":[[{"node":"Parse JD Analysis","type":"main","index":0}]]},"Claude - JD Analysis":{"ai_languageModel":[[{"node":"AI Agent - Analyze JD","type":"ai_languageModel","index":0}]]},"Parse Generated Skills":{"main":[[{"node":"Refine Skills (Code)","type":"main","index":0}]]},"Refine Skills (Code)":{"main":[[{"node":"Validate Skills Char Count","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"jobDescription":"Get started on an exciting career at Element!\n\nElement employees make a difference in the lives of others every day. We are re-defining the fleet management industry to be people first, then business - delivering on our promise of a superior client experience. This takes hard work and innovation, and we need more like-minded people on our team.\n\nAbout the Role\n\nAs a Treasury Intern at Element Fleet Management, you will play an integral role in supporting our financial operations and optimizing reporting processes. You will have the opportunity to work on impactful projects such as streamlining processes and assisting with financial reporting. This role offers a hands-on learning experience in a dynamic and fast-paced professional environment.\n\nWhat you will be Doing:\nAssist in optimizing data cleaning and automation processes using tools such as Alteryx and Power Query.\nContribute to the preparation and enhancement of monthly reporting processes leveraging advanced Excel skills and a strong understanding of financial statements.\nAttend meetings with key stakeholders and leadership.\nAssist with various tasks and projects as assigned by supervisor.\n\nWhat We Are Looking For:\nCurrently enrolled in a commerce or related university program with a strong foundation in finance, accounting, or business management.\nProficiency in financial tools such as Excel, Alteryx, Power Query, and PowerBI,\nFamiliarity with Bloomberg and experience working with financial statements.\nStrong analytical skills with the ability to streamline processes effectively.\nDetail-oriented with excellent organizational skills.\nComfortable working in a fast-paced environment with competing priorities.\n\nThe hiring base salary range for this position is $38,800 - $48,750 annually.\n\nJob Type: Internship\nContract Length: 4 months (May - August 2026)","key":0,"Job Description":"Get started on an exciting career at Element!\n\nElement employees make a difference in the lives of others every day. We are re-defining the fleet management industry to be people first, then business - delivering on our promise of a superior client experience. This takes hard work and innovation, and we need more like-minded people on our team.\n\nAbout the Role\n\nAs a Treasury Intern at Element Fleet Management, you will play an integral role in supporting our financial operations and optimizing reporting processes. You will have the opportunity to work on impactful projects such as streamlining processes and assisting with financial reporting. This role offers a hands-on learning experience in a dynamic and fast-paced professional environment.\n\nWhat you will be Doing:\nAssist in optimizing data cleaning and automation processes using tools such as Alteryx and Power Query.\nContribute to the preparation and enhancement of monthly reporting processes leveraging advanced Excel skills and a strong understanding of financial statements.\nAttend meetings with key stakeholders and leadership.\nAssist with various tasks and projects as assigned by supervisor.\n\nWhat We Are Looking For:\nCurrently enrolled in a commerce or related university program with a strong foundation in finance, accounting, or business management.\nProficiency in financial tools such as Excel, Alteryx, Power Query, and PowerBI,\nFamiliarity with Bloomberg and experience working with financial statements.\nStrong analytical skills with the ability to streamline processes effectively.\nDetail-oriented with excellent organizational skills.\nComfortable working in a fast-paced environment with competing priorities.\n\nThe hiring base salary range for this position is $38,800 - $48,750 annually.\n\nJob Type: Internship\nContract Length: 4 months (May - August 2026)"},"pairedItem":{"item":0}}],"Generate Resume HTML":[{"json":{"personalInfo":{"name":"Your Name","email":"sam.guan@example.com","phone":"(123) 456-7890","linkedin":"https://linkedin.com/in/samguan","github":"https://github.com/samguan","location":"San Francisco, CA"},"masterCourses":["Relational Database Design and SQL","Supervised and Unsupervised Machine Learning","Statistical Consulting and Data Analytics"],"bachelorCourses":["Algorithm Design and Data Abstraction","Linear Algebra","Mathematical Statistics","Computational Mathematics","Numeric Computation for Financial Modeling"],"skillsByCategory":{"Problem-Solving":["Algorithm Design","System Integration","Documentation"],"Programming & Development":["JS/TS","React","Node.js","Python","SQL","HTML/CSS"],"Development Tools":["Git","REST APIs","Agile"],"Data & Analytics":["Data Visualization","Machine Learning","Statistical Modeling"]},"matchedProjects":[{"project_title":"AI Workflow Orchestration System with Claude Skills","project_date":"Jan 2026 - Present","original_name":"project-description-ai-workflow-system","matched_skill":null,"impact_sentences":["Architected modular Claude skills ecosystem with 22 specialized components, enabling flexible workflow composition and independent testing.","Engineered browser automation handling Workday and Greenhouse selector differences, achieving 95% extraction accuracy across 500 postings.","Reduced document proc. time from 40 minutes to 2 minutes per item through n8n workflow integration.","Implemented key-based file matching architecture ensuring 100% metadata-to-document accuracy with automated Excel tracking and organization.","Integrated Claude API with retry logic and rate limiting, proc. 100 customized documents with consistent quality."]},{"project_title":"GreenQuote — iPad Quoting & QuickBooks App","project_date":"Oct 2025 - Dec 2025","original_name":"greenquote-ipad-app","matched_skill":null,"impact_sentences":["Engineered iOS quoting app with SwiftUI and MVVM, eliminating triple data entry and manual transcription errors.","Integrated OAuth 2.0 QuickBooks API for automated estimate sync, standardizing pricing formulas across franchise technicians.","Architected CoreData persistence with Keychain security, enabling offline quoting at low-connectivity job sites with background sync.","Implemented real-time estimate calculation engine handling room dimensions, material types, and labor costs with QBO-formatted output.","Delivered end-to-end workflow in 2 months, receiving client validation as future-ready solution aligned with operational needs."]},{"project_title":"Luma Web - AI-Powered PDF Learning Assistant","project_date":"Dec 2025 - Present","original_name":"luma-ai-learning","matched_skill":null,"impact_sentences":["Architected full-stack SaaS learning platform using Next.js, TypeScript, and PostgreSQL, onboarding 20 university students for validation.","Engineered Vision RAG pipeline with pgvector semantic search, recovering chart and formula context lost by text-only indexing.","Designed teach-then-test AI tutoring loop using Claude Agent Skills API, verifying comprehension through automated quiz generation.","Optimized AI token costs via on-demand PDF slicing, sending only relevant page ranges per subtopic to Claude.","Established AI-assisted dev methodology through iterative refinement, enabling systematic documentation-driven workflow for production-grade implementation."]}],"unmatchedSkills":[],"jdAnalysis":{},"jobDescription":"","resumeHtml":"<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n    <meta charset=\"UTF-8\">\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\r\n    <title>Your Name - Resume</title>\r\n    <style>\r\n        * {\r\n            margin: 0;\r\n            padding: 0;\r\n            box-sizing: border-box;\r\n        }\r\n\r\n        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');\r\n\r\n        body {\r\n            font-family: \"Inter\", sans-serif;\r\n            font-size: 11pt;\r\n            line-height: 1.4;\r\n            color: #000;\r\n            background: #fff;\r\n        }\r\n\r\n        .page {\r\n            max-width: 8.5in;\r\n            margin: 0 auto;\r\n            /* PDF Page Spacing - Adjust this value to control margins in final PDF */\r\n            padding: 0.5in 0.75in;  /* top/bottom 0.5in, left/right 0.75in */\r\n        }\r\n\r\n        @page {\r\n            size: Letter portrait;\r\n            margin: 0;  /* Let .page padding control spacing */\r\n        }\r\n\r\n        @media print {\r\n            body {\r\n                -webkit-print-color-adjust: exact;\r\n                print-color-adjust: exact;\r\n                margin: 0;\r\n                padding: 0;\r\n            }\r\n            .page {\r\n                padding: 0.5in 0.75in;  /* Same as above - controls PDF margins */\r\n            }\r\n        }\r\n\r\n        /* Header */\r\n        .header {\r\n            text-align: center;\r\n            margin-bottom: 12pt;\r\n        }\r\n\r\n        .name {\r\n            font-size: 24pt;\r\n            font-weight: bold;\r\n            margin-bottom: 2pt;\r\n            color: #1a3a6e;\r\n        }\r\n\r\n        .contact {\r\n            font-size: 11pt;\r\n        }\r\n\r\n        .contact a {\r\n            color: #0066cc;\r\n            text-decoration: underline;\r\n        }\r\n\r\n        /* Section */\r\n        .section {\r\n            margin-bottom: 16pt;\r\n        }\r\n\r\n        .section-title {\r\n            font-size: 11pt;\r\n            font-weight: bold;\r\n            padding-bottom: 1pt;\r\n            border-bottom: 2px solid #1a3a6e;\r\n            margin-bottom: 4pt;\r\n            color: #1a3a6e;\r\n        }\r\n\r\n        .section-title::first-letter {\r\n            font-size: 13pt;\r\n        }\r\n\r\n        /* Entry */\r\n        .entry {\r\n            margin-bottom: 0;\r\n            margin-top: 0;\r\n        }\r\n\r\n        .entry + .entry {\r\n            margin-top: 8pt;\r\n        }\r\n\r\n        .section .entry:last-child {\r\n            margin-bottom: 0;\r\n        }\r\n\r\n        .entry-header {\r\n            display: flex;\r\n            justify-content: space-between;\r\n            align-items: baseline;\r\n        }\r\n\r\n        .entry-title {\r\n            font-weight: bold;\r\n        }\r\n\r\n        a.entry-title {\r\n            color: #0066cc;\r\n            text-decoration: underline;\r\n        }\r\n\r\n        .entry-date {\r\n            font-style: italic;\r\n            font-size: 11pt;\r\n        }\r\n\r\n        .entry-subtitle {\r\n            font-style: italic;\r\n            margin-top: 0;\r\n            margin-bottom: 0;\r\n        }\r\n\r\n        .entry-detail {\r\n            margin-top: 0;\r\n            margin-bottom: 0;\r\n        }\r\n\r\n        /* Lists */\r\n        ul {\r\n            margin-left: 0;\r\n            padding-left: 14pt;\r\n            margin-top: 0;\r\n            margin-bottom: 0;\r\n        }\r\n\r\n        li {\r\n            margin-bottom: 0;\r\n            padding-left: 0;\r\n        }\r\n\r\n        /* Skills */\r\n        .skills-line {\r\n            margin-bottom: 0;\r\n            margin-top: 0;\r\n        }\r\n\r\n        .skills-label {\r\n            font-weight: bold;\r\n        }\r\n\r\n        /* Paragraphs within same section - no spacing */\r\n        p + p {\r\n            margin-top: 0;\r\n        }\r\n\r\n        .entry-detail + .entry-detail {\r\n            margin-top: 0;\r\n        }\r\n    </style>\r\n</head>\r\n<body>\r\n    <div class=\"page\">\r\n        <!-- Header -->\r\n        <header class=\"header\">\r\n            <h1 class=\"name\">YOUR NAME</h1>\r\n            <p class=\"contact\">555-555-5555 | <a href=\"mailto:your.email@example.com\">your.email@example.com</a> | Your City, Province | <a href=\"https://linkedin.com/in/yourlinkedinprofile\">LinkedIn</a> | <a href=\"https://github.com/yourgithubusername\">GitHub</a></p>\r\n        </header>\r\n\r\n        <!-- Education Section -->\r\n        <section class=\"section\">\r\n            <h2 class=\"section-title\">EDUCATION</h2>\r\n            <div class=\"entry\">\r\n                <div class=\"entry-header\">\r\n                    <span class=\"entry-title\" style=\"color: #000;\">Master of Data Analytics</span>\r\n                    <span class=\"entry-date\">Expected August 2026</span>\r\n                </div>\r\n                <p class=\"entry-subtitle\">Western University, London, ON</p>\r\n                <p class=\"entry-detail\"><strong>Relevant Coursework:</strong> Relational Database Design and SQL; Supervised and Unsupervised Machine Learning; Statistical Consulting and Data Analytics</p>\r\n            </div>\r\n            <div class=\"entry\">\r\n                <div class=\"entry-header\">\r\n                    <span class=\"entry-title\" style=\"color: #000;\">Bachelor of Mathematics in Mathematical Finance</span>\r\n                    <span class=\"entry-date\">Graduated 2025</span>\r\n                </div>\r\n                <p class=\"entry-subtitle\">University of Waterloo, Waterloo, ON</p>\r\n                <p class=\"entry-detail\"><strong>Scholarship:</strong> University of Waterloo Merit Scholarship</p>\r\n                <p class=\"entry-detail\"><strong>Relevant Coursework:</strong> Algorithm Design and Data Abstraction; Linear Algebra; Mathematical Statistics; Computational Mathematics; Numeric Computation for Financial Modeling</p>\r\n            </div>\r\n        </section>\r\n\r\n        <!-- Skills Section -->\r\n        <section class=\"section\">\r\n            <h2 class=\"section-title\">SKILLS</h2>\r\n            <p class=\"skills-line\"><span class=\"skills-label\">Problem-Solving:</span> Algorithm Design, System Integration, Documentation</p>\n<p class=\"skills-line\"><span class=\"skills-label\">Programming & Development:</span> JS/TS, React, Node.js, Python, SQL, HTML/CSS</p>\n<p class=\"skills-line\"><span class=\"skills-label\">Development Tools:</span> Git, REST APIs, Agile</p>\n<p class=\"skills-line\"><span class=\"skills-label\">Data & Analytics:</span> Data Visualization, Machine Learning, Statistical Modeling</p>\n\r\n        </section>\r\n\r\n        <!-- Projects Section -->\r\n        <section class=\"section\">\r\n            <h2 class=\"section-title\">PROJECTS</h2>\r\n            <div class=\"entry\">\n<div class=\"entry-header\">\n<span class=\"entry-title\">AI Workflow Orchestration System with Claude Skills</span>\n<span class=\"entry-date\">Jan 2026 - Present</span>\n</div>\n<ul>\n<li>Architected modular Claude skills ecosystem with 22 specialized components, enabling flexible workflow composition and independent testing.</li>\n<li>Engineered browser automation handling Workday and Greenhouse selector differences, achieving 95% extraction accuracy across 500 postings.</li>\n<li>Reduced document proc. time from 40 minutes to 2 minutes per item through n8n workflow integration.</li>\n<li>Implemented key-based file matching architecture ensuring 100% metadata-to-document accuracy with automated Excel tracking and organization.</li>\n<li>Integrated Claude API with retry logic and rate limiting, proc. 100 customized documents with consistent quality.</li>\n</ul>\n</div>\n<div class=\"entry\">\n<div class=\"entry-header\">\n<span class=\"entry-title\">GreenQuote — iPad Quoting & QuickBooks App</span>\n<span class=\"entry-date\">Oct 2025 - Dec 2025</span>\n</div>\n<ul>\n<li>Engineered iOS quoting app with SwiftUI and MVVM, eliminating triple data entry and manual transcription errors.</li>\n<li>Integrated OAuth 2.0 QuickBooks API for automated estimate sync, standardizing pricing formulas across franchise technicians.</li>\n<li>Architected CoreData persistence with Keychain security, enabling offline quoting at low-connectivity job sites with background sync.</li>\n<li>Implemented real-time estimate calculation engine handling room dimensions, material types, and labor costs with QBO-formatted output.</li>\n<li>Delivered end-to-end workflow in 2 months, receiving client validation as future-ready solution aligned with operational needs.</li>\n</ul>\n</div>\n<div class=\"entry\">\n<div class=\"entry-header\">\n<span class=\"entry-title\">Luma Web - AI-Powered PDF Learning Assistant</span>\n<span class=\"entry-date\">Dec 2025 - Present</span>\n</div>\n<ul>\n<li>Architected full-stack SaaS learning platform using Next.js, TypeScript, and PostgreSQL, onboarding 20 university students for validation.</li>\n<li>Engineered Vision RAG pipeline with pgvector semantic search, recovering chart and formula context lost by text-only indexing.</li>\n<li>Designed teach-then-test AI tutoring loop using Claude Agent Skills API, verifying comprehension through automated quiz generation.</li>\n<li>Optimized AI token costs via on-demand PDF slicing, sending only relevant page ranges per subtopic to Claude.</li>\n<li>Established AI-assisted dev methodology through iterative refinement, enabling systematic documentation-driven workflow for production-grade implementation.</li>\n</ul>\n</div>\r\n        </section>\r\n    </div>\r\n</body>\r\n</html>\r\n","fileName":"Shicheng__Sam__Guan"}}]},"versionId":"f549c7d8-e88e-4d6d-8339-12581d1ff2dc","activeVersionId":"46cb59fc-649c-43bf-b18c-bd5f73f159ae","versionCounter":409,"triggerCount":0,"shared":[{"updatedAt":"2026-01-21T02:03:43.085Z","createdAt":"2026-01-21T02:03:43.085Z","role":"workflow:owner","workflowId":"AWv5m9jqUOnkHyG-3gWzr","projectId":"T09eXxlECFarRUpb","project":{"updatedAt":"2026-01-21T01:15:11.971Z","createdAt":"2026-01-21T01:10:31.933Z","id":"T09eXxlECFarRUpb","name":"Shicheng Guan <bluesgg010109@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a5d2103b-1019-43bc-b5af-ea9eb3398b13","projectRelations":[{"updatedAt":"2026-01-21T01:10:31.933Z","createdAt":"2026-01-21T01:10:31.933Z","userId":"a5d2103b-1019-43bc-b5af-ea9eb3398b13","projectId":"T09eXxlECFarRUpb","user":{"updatedAt":"2026-02-28T16:34:45.000Z","createdAt":"2026-01-21T01:10:31.617Z","id":"a5d2103b-1019-43bc-b5af-ea9eb3398b13","email":"bluesgg010109@gmail.com","firstName":"Shicheng","lastName":"Guan","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-21T01:15:15.897Z","personalization_survey_n8n_version":"2.4.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"WriQ5Y-QtJNABZCgIZipp","userActivatedAt":1769034144299,"npsSurvey":{"responded":true,"lastShownAt":1770838014141}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-28","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-28T02:41:11.000Z","createdAt":"2026-02-28T02:41:03.296Z","versionId":"46cb59fc-649c-43bf-b18c-bd5f73f159ae","workflowId":"AWv5m9jqUOnkHyG-3gWzr","nodes":[{"parameters":{"promptType":"define","text":"=Select courses that provide the strongest FOUNDATIONAL knowledge for the target job skills.\n\n<target_skills>\n{{ JSON.stringify($json.jdAnalysis.top_5_skills?.map(s => s.skill) || []) }}\n</target_skills>\n\n<available_courses>\n{{ $json.masterCoursesContent }}\n</available_courses>\n\n<rules>\n1. Select 3-4 courses with strongest FOUNDATIONAL relevance to the target skills\n2. Courses do NOT need to be exact tool matches. For example: Machine Learning supports a data science role even if the JD asks for specific tools\n3. Prioritize: statistics, ML, data mining, quantitative methods, risk modeling, and any applied/computational courses\n4. You MUST always return at least 3 courses. NEVER return an empty array\n5. Return EXACT course names as listed\n</rules>\n\nReturn ONLY valid JSON: {\"selected_courses\": [\"Machine Learning\", \"Data Mining\"]}","options":{"returnIntermediateSteps":false}},"id":"504f1be0-1ed6-4c1f-ba2d-066149cf66f9","name":"AI - Extract Master Courses","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[45664,32560]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[44416,33344],"id":"5fecba8f-6941-482f-bff6-4ddb8d20af97","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{"maxTokensToSample":4000,"temperature":0.2}},"id":"4ae0b146-005a-4b1b-b069-349c9cc6f85f","name":"Claude - JD Analysis4","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[45744,32784],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":20000,"temperature":0.3}},"id":"99d609fd-d1c2-4e68-8815-f50b0f2fe8a6","name":"Claude - JD Analysis3","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[46320,33712],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":20000,"temperature":0.3}},"id":"05f9c519-ec73-4d15-93e0-165554ff54da","name":"Claude - JD Analysis2","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[45744,34400],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":20000,"temperature":0.3}},"id":"921e486c-4d07-432c-853a-54bcde72df8e","name":"Claude - JD Analysis1","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[46320,34400],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}}},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{"maxTokensToSample":4000,"temperature":0.2}},"id":"891925a9-7103-4cea-b5f3-e97db21c0923","name":"Claude - JD Analysis6","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[45744,33296],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}}},{"parameters":{"jsCode":"const data = $('Combine All Data').first().json;\nconst templateFile = $input.first();\n\nfunction generateContactLine(info) {\n  if (!info) return '';\n  const parts = [];\n  if (info.location) parts.push(info.location);\n  if (info.phone) parts.push(info.phone);\n  if (info.email) parts.push(`<a href=\"mailto:${info.email}\">${info.email}</a>`);\n  if (info.linkedin) parts.push(`<a href=\"${info.linkedin}\">LinkedIn</a>`);\n  if (info.github) parts.push(`<a href=\"${info.github}\">GitHub</a>`);\n  return parts.join(' | ');\n}\n\nfunction generateSkillsSection(skillsByCategory) {\n  if (!skillsByCategory || typeof skillsByCategory !== 'object') {\n    return '<p>No skills data available.</p>';\n  }\n  let html = '';\n  for (const [category, skills] of Object.entries(skillsByCategory)) {\n    if (Array.isArray(skills) && skills.length > 0) {\n      html += `<p class=\"skills-line\"><span class=\"skills-label\">${category}:</span> ${skills.join(', ')}</p>\\n`;\n    }\n  }\n  return html || '<p>No skills data available.</p>';\n}\n\nfunction generateProjectsSection(projects) {\n  if (!Array.isArray(projects) || projects.length === 0) {\n    return '<p>No matching projects found.</p>';\n  }\n  return projects.map(project => {\n    if (!project) return '';\n    const title = project.project_title || project.original_name || 'Untitled Project';\n    const date = project.project_date || '';\n    const url = project.project_url || '';\n    const bullets = Array.isArray(project.impact_sentences) \n      ? project.impact_sentences.map(s => `<li>${s}</li>`).join('\\n')\n      : '';\n    const dateSpan = date ? `<span class=\"entry-date\">${date}</span>` : '';\n    const titleHtml = url ? `<a href=\"${url}\" class=\"entry-title\" target=\"_blank\">${title}</a>` : `<span class=\"entry-title\">${title}</span>`;\n    return `<div class=\"entry\">\\n<div class=\"entry-header\">\\n${titleHtml}\\n${dateSpan}\\n</div>\\n<ul>\\n${bullets}\\n</ul>\\n</div>`;\n  }).filter(Boolean).join('\\n');\n}\n\nlet template = '';\ntry {\n  const binaryDataBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  template = binaryDataBuffer.toString('utf-8');\n} catch (e) {\n  throw new Error('Failed to read template file: ' + e.message);\n}\n\nif (!template || template.trim().length === 0) {\n  throw new Error('Template file is empty');\n}\n\nconst replacements = {\n  '{{NAME}}': data.personalInfo?.name || 'Your Name',\n  '{{CONTACT_LINE}}': generateContactLine(data.personalInfo),\n  '{{MASTER_COURSES}}': Array.isArray(data.masterCourses) && data.masterCourses.length > 0 ? data.masterCourses.join('; ') : 'N/A',\n  '{{BACHELOR_COURSES}}': Array.isArray(data.bachelorCourses) && data.bachelorCourses.length > 0 ? data.bachelorCourses.join('; ') : 'N/A',\n  '{{PROJECTS_SECTION}}': generateProjectsSection(data.matchedProjects),\n  '{{SKILLS_SECTION}}': generateSkillsSection(data.skillsByCategory)\n};\n\nlet html = template;\nfor (const [placeholder, value] of Object.entries(replacements)) {\n  html = html.replace(new RegExp(placeholder.replace(/[{}]/g, '\\\\$&'), 'g'), value);\n}\n\nconst fileName = (data.personalInfo?.name || 'Resume').replace(/[^a-zA-Z0-9]/g, '_');\n\nreturn [{\n  json: {\n    ...data,\n    resumeHtml: html,\n    fileName: fileName\n  },\n  binary: {\n    resume: await this.helpers.prepareBinaryData(\n      Buffer.from(html, 'utf-8'),\n      `${fileName}_Resume.html`,\n      'text/html; charset=utf-8'\n    )\n  }\n}];"},"id":"65437d81-ee51-4a87-898b-337a2228f8fa","name":"Generate Resume HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[48864,33504]},{"parameters":{"fileSelector":"/home/node/.n8n-files/data/templates/resume_template.html","options":{}},"id":"80040054-264e-41ff-89c5-d7d8aedfadbb","name":"Read Template File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[48640,33504]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst PERSONAL_INFO = {\n  name: 'Your Name',\n  email: 'sam.guan@example.com',\n  phone: '(123) 456-7890',\n  linkedin: 'https://linkedin.com/in/samguan',\n  github: 'https://github.com/samguan',\n  location: 'San Francisco, CA'\n};\n\nlet masterCourses = [];\nlet bachelorCourses = [];\nlet skillsByCategory = {};\nlet projectsWithImpact = [];\nlet unmatchedSkills = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (data.masterCourses) masterCourses = data.masterCourses;\n  if (data.bachelorCourses) bachelorCourses = data.bachelorCourses;\n  if (data.skillsByCategory) skillsByCategory = data.skillsByCategory;\n  if (data.projectsWithImpact) projectsWithImpact = data.projectsWithImpact;\n  if (data.unmatchedSkills) unmatchedSkills = data.unmatchedSkills;\n}\n\n// Include JD analysis for downstream use by Cover Letter Generator\nconst jdAnalysisData = $('Parse JD Analysis').first().json;\n\nreturn [{\n  json: {\n    personalInfo: PERSONAL_INFO,\n    masterCourses: masterCourses,\n    bachelorCourses: bachelorCourses,\n    skillsByCategory: skillsByCategory,\n    matchedProjects: projectsWithImpact,\n    unmatchedSkills: unmatchedSkills,\n    jdAnalysis: jdAnalysisData.jdAnalysis || {},\n    jobDescription: jdAnalysisData.jobDescription || ''\n  }\n}];"},"id":"ffb5d79e-1ae9-4d10-9504-363e8d4d9bcd","name":"Combine All Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[48416,33504]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"681b5a74-fe34-4ebb-bdae-a731551f8bc5","name":"Merge All Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[48192,33504]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"4c971656-b13d-4cfa-87f3-8c36ff94bdd5","name":"Merge Skills & Projects","type":"n8n-nodes-base.merge","typeVersion":3,"position":[47968,34000]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"52a5d9dc-daad-4d88-90a6-4e29e3c799e8","name":"Merge Courses","type":"n8n-nodes-base.merge","typeVersion":3,"position":[46304,32800]},{"parameters":{"jsCode":"// Read accumulated results from staticData (items arrive at different times due to shortening loop)\nconst staticData = $getWorkflowStaticData('global');\nconst allProjects = staticData.projectResults || [];\nconst expectedCount = staticData.expectedProjectCount || 0;\n\n// Check if all expected projects have arrived\nif (allProjects.length < expectedCount) {\n  // Not all projects ready yet - return empty but don't clear\n  // This node will be called again when more items arrive\n  return [];\n}\n\n// All projects have arrived - filter and output\nconst projectsWithImpact = allProjects\n  .filter(p => p && p.impact_sentences && p.impact_sentences.length > 0)\n  .filter(p => p.project_title !== 'Unknown Project' && p.original_name !== '');\n\n// Clear staticData for next run\nstaticData.projectResults = [];\nstaticData.expectedProjectCount = 0;\nstaticData.batchId = '';\n\nreturn [{\n  json: {\n    projectsWithImpact: projectsWithImpact,\n    projectCount: projectsWithImpact.length,\n    branch: 'projects'\n  }\n}];"},"id":"77014635-d185-45df-88ca-d5390ed59e77","name":"Aggregate Project Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[47680,34352]},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{"maxTokensToSample":4000,"temperature":0.2}},"id":"411a26c1-4976-46dc-8b13-b97d9db08b05","name":"Claude - Shortener","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[47344,34176],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $input.item.json;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.projectResults) {\n  staticData.projectResults = [];\n}\n\n// Guard against cross-execution contamination:\n// If this item's batchId doesn't match staticData's batchId, clear stale data\nconst itemBatchId = input.batchId || '';\nif (staticData.batchId && itemBatchId && staticData.batchId !== itemBatchId) {\n  staticData.projectResults = [];\n  staticData.batchId = itemBatchId;\n}\n\nif (input.projectData) {\n  // Recover project_url if it was lost during AI sentence shortening\n  const projectUrlsMap = $('Process Projects').first().json.projectUrlsMap || {};\n  const originalName = input.projectData.original_name || '';\n  if (!input.projectData.project_url && projectUrlsMap[originalName]) {\n    input.projectData.project_url = projectUrlsMap[originalName];\n  }\n  \n  staticData.projectResults.push(input.projectData);\n}\n\nreturn {\n  json: {\n    optimizedProject: input.projectData,\n    projectCount: staticData.projectResults.length,\n    branch: 'projects'\n  }\n};"},"id":"eed1d9d3-7584-4c3f-a814-239d062e8949","name":"Finalize Project","type":"n8n-nodes-base.code","typeVersion":2,"position":[47328,34352]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $input.item.json;\nconst content = input.output || input.text || '';\n\n// Get the corresponding Check Loop data for this item\nconst checkLoopItems = $('Check Loop').all();\nconst currentIndex = $itemIndex;\nconst checkLoopData = checkLoopItems[currentIndex]?.json || $('Check Loop').first().json || {};\nconst iteration = checkLoopData.iteration || 1;\n\n// CRITICAL FIX: Get validSentences that were already short enough\nconst validSentences = checkLoopData.validSentences || [];\n\n// Preserve original metadata from before the shortener loop\nconst originalProjectData = checkLoopData.projectData || {};\n\nlet projectData;\nlet jsonStr = content;\n\nif (content.includes('```json')) {\n  const match = content.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (match) jsonStr = match[1];\n} else if (content.includes('```')) {\n  const match = content.match(/```\\s*([\\s\\S]*?)\\s*```/);\n  if (match) jsonStr = match[1];\n} else {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) jsonStr = jsonMatch[0];\n}\n\ntry {\n  projectData = JSON.parse(jsonStr.trim());\n} catch (e) {\n  throw new Error('Failed to parse shortened sentences: ' + e.message);\n}\n\n// Merge validSentences back with the shortened sentences\nconst shortenedSentences = projectData.impact_sentences || [];\nprojectData.impact_sentences = [...validSentences, ...shortenedSentences];\n\n// CRITICAL FIX: Restore metadata fields from original data\n// AI Shortener may alter title/date/url/original_name - always override with originals\nprojectData.project_title = originalProjectData.project_title || projectData.project_title;\nprojectData.project_date = originalProjectData.project_date || projectData.project_date;\nprojectData.project_url = originalProjectData.project_url || projectData.project_url;\nprojectData.original_name = originalProjectData.original_name || projectData.original_name;\nprojectData.matched_skill = originalProjectData.matched_skill || projectData.matched_skill;\n\nreturn {\n  json: {\n    projectData: projectData,\n    iteration: iteration,\n    branch: 'projects'\n  }\n};"},"id":"0a5ab2e8-926d-4655-9d15-a8d8daabfada","name":"Parse Shortened","type":"n8n-nodes-base.code","typeVersion":2,"position":[47680,34048]},{"parameters":{"promptType":"define","text":"=AGGRESSIVELY shorten each impact sentence to 85-95 characters.\n\n<sentences_too_long>\n{{ JSON.stringify($json.tooLongSentences) }}\n</sentences_too_long>\n\n<CRITICAL_REQUIREMENT>\nCurrent sentences are 150-230 chars. Target is 85-95 chars.\nYou must CUT 50-60% of each sentence. Be RUTHLESS.\nDo NOT use any HTML formatting tags like <b>, <i>, etc. Plain text only.\n</CRITICAL_REQUIREMENT>\n\n<shortening_rules>\n1. REMOVE all context/background: \"for GreenTech Painting\" → delete\n2. REMOVE parenthetical lists: \"(customer management, room config...)\" → delete\n3. KEEP only: Action + Tool + ONE metric\n4. USE abbreviations: \"development\" → \"dev\", \"application\" → \"app\"\n\n<examples>\nBEFORE (173 chars): \"Led end-to-end delivery of iOS quoting app for GreenTech Painting, reducing data entry from 3x to 1x across iPad/Excel/QuickBooks and eliminating manual transcription errors\"\nAFTER (68 chars): \"Built iOS quoting app reducing data entry 3x to 1x, eliminating errors\"\n\nBEFORE (218 chars): \"Engineered SwiftUI + MVVM architecture with 6 core modules (customer management, room configuration, real-time estimate calculation, QBO OAuth sync, queue management, CoreData persistence) across 6 milestone cycles\"\nAFTER (58 chars): \"Engineered SwiftUI + MVVM app with 6 modules and QBO sync\"\n</examples>\n\nReturn ONLY valid JSON:\n{\n  \"project_title\": \"{{ $json.projectData.project_title }}\",\n  \"project_date\": \"{{ $json.projectData.project_date }}\",\n  \"project_url\": \"{{ $json.projectData.project_url }}\",\n  \"original_name\": \"{{ $json.projectData.original_name }}\",\n  \"matched_skill\": \"{{ $json.projectData.matched_skill }}\",\n  \"impact_sentences\": [\"short sentence 85-95 chars\", \"...\"]\n}","options":{"returnIntermediateSteps":false}},"id":"fe0deb35-048a-499d-ba55-9116b059c9cc","name":"AI - Shorten Sentences","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[47264,33952]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"condition-continue","leftValue":"={{ $json.shouldContinue }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"11ce9704-e479-4b31-9b67-e0c31d50cf0f","name":"Check Loop","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[47040,34112]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $input.item.json;\nlet projectData = input.projectData;\n\n// If coming from AI - Shorten Sentences, parse the response\nif (input.output || input.text) {\n  const content = input.output || input.text || '';\n  let jsonStr = content;\n  \n  if (content.includes('```json')) {\n    const match = content.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n    if (match) jsonStr = match[1];\n  } else if (content.includes('```')) {\n    const match = content.match(/```\\s*([\\s\\S]*?)\\s*```/);\n    if (match) jsonStr = match[1];\n  } else {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) jsonStr = jsonMatch[0];\n  }\n  \n  try {\n    const parsed = JSON.parse(jsonStr.trim());\n    // BUG FIX: Only update impact_sentences from shortener output.\n    // Preserve original metadata (project_title, project_date, etc.)\n    // because AI shortener may return empty/missing metadata fields.\n    if (parsed.impact_sentences) {\n      projectData.impact_sentences = parsed.impact_sentences;\n    }\n  } catch (e) {\n    // Keep existing projectData if parse fails\n  }\n}\n\nconst MAX_CHARS = 95;\nconst iteration = (input.iteration || 0) + 1;\n\n// ========== Code-based pre-trimming ==========\nconst fillerPatterns = [\n  /\\bby leveraging\\b/gi,\n  /\\bthrough the use of\\b/gi,\n  /\\bin order to\\b/gi,\n  /\\bby utilizing\\b/gi,\n  /\\bvia the\\b/gi,\n];\n\nconst abbreviationMap = {\n  'development': 'dev',\n  'application': 'app',\n  'applications': 'apps',\n  'approximately': '~',\n  'processing': 'proc.',\n};\n\nfunction codeTrim(sentence) {\n  let s = sentence;\n  // Remove long parenthetical content (10+ chars inside parens)\n  s = s.replace(/\\s*\\([^)]{10,}\\)/g, '');\n  // Remove filler phrases\n  for (const pattern of fillerPatterns) {\n    s = s.replace(pattern, '');\n  }\n  // Apply abbreviations\n  for (const [full, abbr] of Object.entries(abbreviationMap)) {\n    s = s.replace(new RegExp(`\\\\b${full}\\\\b`, 'gi'), abbr);\n  }\n  // Clean up double spaces\n  s = s.replace(/\\s{2,}/g, ' ').trim();\n  return s;\n}\n\nconst sentences = projectData.impact_sentences || [];\nconst tooLongSentences = [];\nconst validSentences = [];\n\nfor (let i = 0; i < sentences.length; i++) {\n  let sentence = sentences[i];\n  \n  // Try code-based trimming first (only on first iteration)\n  if (sentence.length > MAX_CHARS && iteration === 1) {\n    sentence = codeTrim(sentence);\n    sentences[i] = sentence;\n    projectData.impact_sentences[i] = sentence;\n  }\n  \n  if (sentence.length > MAX_CHARS) {\n    tooLongSentences.push({\n      sentence: sentence,\n      currentChars: sentence.length,\n      needToRemove: sentence.length - MAX_CHARS\n    });\n  } else {\n    validSentences.push(sentence);\n  }\n}\n\nconst allValid = tooLongSentences.length === 0;\nconst maxIterations = 5;\nconst shouldContinue = !allValid && iteration < maxIterations;\n\nreturn {\n  json: {\n    projectData: projectData,\n    tooLongSentences: tooLongSentences,\n    validSentences: validSentences,\n    allValid: allValid,\n    iteration: iteration,\n    shouldContinue: shouldContinue,\n    branch: 'projects'\n  }\n};"},"id":"e58295bb-ed67-4ff5-94c8-5a8b1186ce94","name":"Validate Char Count","type":"n8n-nodes-base.code","typeVersion":2,"position":[46816,34176]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const response = $input.item.json;\nconst content = response.output || response.text || '';\n\nif (!content || content.trim() === '') {\n  throw new Error('[Parse Written Impact] AI返回空内容');\n}\n\nlet jsonStr = content;\n\nif (content.includes('```json')) {\n  const match = content.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (match) jsonStr = match[1];\n} else if (content.includes('```')) {\n  const match = content.match(/```\\s*([\\s\\S]*?)\\s*```/);\n  if (match) jsonStr = match[1];\n} else {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) jsonStr = jsonMatch[0];\n}\n\nlet impactData;\ntry {\n  impactData = JSON.parse(jsonStr.trim());\n} catch (e) {\n  throw new Error('[Parse Written Impact] JSON解析失败: ' + e.message);\n}\n\nif (!impactData.project_title || !impactData.impact_sentences) {\n  throw new Error('[Parse Written Impact] 缺少必填字段');\n}\n\nreturn {\n  json: {\n    projectData: impactData,\n    iteration: 0,\n    branch: 'projects'\n  }\n};"},"id":"1384538f-1888-4013-84bf-01d0afc66078","name":"Parse Written Impact","type":"n8n-nodes-base.code","typeVersion":2,"position":[46592,34176]},{"parameters":{"promptType":"define","text":"=<role>\nYou are a resume bullet-point writer. You convert raw project descriptions into concise, quantified impact statements for resumes. You output structured JSON only.\n</role>\n\n<context>\nTarget Skills: {{ JSON.stringify($json.currentProject.matched_skill) }}\nBusiness Goal: {{ $json.jdAnalysis.business_goal }}\nSuccess Metrics: {{ JSON.stringify($json.jdAnalysis.success_metrics) }}\nSeniority: {{ $json.jdAnalysis.seniority_level || 'entry-level' }}\nNote: Target Skills and Success Metrics are JSON arrays of strings.\n</context>\n\n<project_raw_data>\n{{ $json.projectContent }}\n</project_raw_data>\n\n<input_validation>\nBefore proceeding, check ALL of the following:\n- Target Skills is empty or contains unrendered template placeholders instead of an actual array.\n- Business Goal is empty or contains unrendered template placeholders instead of actual text.\n- project_raw_data is empty or under 50 characters.\n\nIf ANY check fails, return ONLY:\n{\"error\": \"Missing input data\", \"failed_fields\": [\"<field1>\", \"<field2>\"]}\nList every failed field. Do NOT output any other fields. Do NOT proceed to bullet writing.\n\nIf ALL checks pass, proceed and output the success format defined in <output_format>. Never mix the two formats.\n</input_validation>\n\n<accuracy_rule>\nSTRICT — this rule takes precedence over framing and wording choices:\n\n1. Only mention tools, languages, and frameworks EXPLICITLY stated in project_raw_data. If the project used Python, write Python — not Excel, not Alteryx, not SAS.\n2. Never invent metrics. If no specific number exists in the project data, describe impact qualitatively (e.g. \"significantly reduced\", \"streamlined\").\n3. Target Skills tells you which skills to EMPHASIZE — it does NOT mean the project used those exact tools. Frame the project's ACTUAL tools toward the JD's business language, but never substitute tools.\n4. Ignore any URLs in project_raw_data. Do not include links in bullets.\n\n✗ Wrong: Project uses Python → bullet says \"Excel\" because JD mentions Excel.\n✗ Wrong: Project has no revenue data → bullet says \"increased revenue by 15%\".\n✓ Correct: Project uses n8n for automation → frame as \"workflow automation\" to echo JD language, but name \"n8n\" as the actual tool.\n</accuracy_rule>\n\n<bullet_writing_rules>\nWrite exactly 5 impact sentences per project. Each sentence must describe a DISTINCT aspect of the project — no two bullets should cover the same achievement even with different wording. If the project lacks 5 distinct achievements, describe different facets: e.g. architecture decision, implementation detail, scale/volume, quality mechanism, and outcome.\n\nSeniority calibration based on the Seniority value in <context>:\n- \"intern\" or \"entry-level\" (or any unrecognized value): emphasize hands-on execution, learning velocity, and measurable output. Avoid claiming strategic leadership or organization-wide impact.\n- \"mid\" or \"senior\": emphasize decision-making scope, cross-team impact, and business outcomes.\n\nEach sentence:\n- Length: 12–18 words. After drafting all 5, recount each sentence's words and revise any outside this range.\n- Pattern: [Action verb] + [what you did] + [tool/method] + [one quantified result or qualitative impact]\n- Start with action verbs such as: Built, Designed, Automated, Optimized, Engineered, Developed, Implemented, Analyzed, Streamlined, Created. Use at least 4 different verbs across the 5 sentences.\n- Quantify: use %, ×improvement, time saved, count, or $ value where data exists in project_raw_data.\n- Never start with \"Responsible for\", \"Worked on\", or \"Helped with\".\n- No HTML tags — plain text only.\n\nWhere data allows, echo a Success Metrics keyword (e.g. \"efficiency\", \"accuracy\") naturally in the bullet. Do NOT force-fit — only use if the bullet's content genuinely reflects that metric.\n\nGOOD examples (with verified word counts):\n- \"Built automation pipeline with n8n and Claude API, cutting per-item processing from 40min to 2min\" → 15 words ✓\n- \"Designed 15-table PostgreSQL schema supporting 36 API endpoints across 8 functional modules\" → 12 words ✓\n- \"Extracted 500 job postings from 20+ company career sites achieving 95% extraction accuracy\" → 13 words ✓\n\nBAD example:\n- \"Led the development of a comprehensive machine learning pipeline using Python and scikit-learn framework to optimize the loan approval process achieving significant improvement in prediction accuracy metrics across test datasets\" → 30 words, far over limit, no specific metric ✗\n</bullet_writing_rules>\n\n<title_rules>\nExtract the project title from the first line starting with \"# \" in project_raw_data. If no such line exists, use the first non-empty line. Then shorten to under 55 characters:\n- Strip \"# \" prefix and any leading \"Project Name: \" filler.\n- Use abbreviations where natural: \"Application\" → \"App\", \"Recommendation\" → \"Rec.\"\n- If already under 55 chars after stripping filler, keep as-is.\nExample: \"# Project Name: GreenQuote — iPad Quoting & QuickBooks Integration App\" → \"GreenQuote — iPad Quoting & QuickBooks App\" (43 chars)\n</title_rules>\n\n<date_extraction>\nScan the first 5 lines of project_raw_data for a date pattern matching:\n  [Month] [Year] - [Month] [Year]  OR  [Month] [Year] - Present\n\nOutput format: \"MMM YYYY - MMM YYYY\" or \"MMM YYYY - Present\" (3-letter month).\nExamples: \"October 2025 - December 2025\" → \"Oct 2025 - Dec 2025\". \"January 2026 - Present\" → \"Jan 2026 - Present\".\nIf no date pattern found, return \"Not specified\".\n</date_extraction>\n\n<output_format>\nOn success, return ONLY this JSON (no markdown fences, no explanation):\n\n{\n  \"project_title\": \"<under 55 chars, per title_rules>\",\n  \"project_date\": \"<per date_extraction>\",\n  \"original_name\": \"{{ $json.projectFileName }}\",\n  \"matched_skill\": {{ JSON.stringify($json.currentProject.matched_skill) }},\n  \"impact_sentences\": [\n    \"<12-18 words>\",\n    \"<12-18 words>\",\n    \"<12-18 words>\",\n    \"<12-18 words>\",\n    \"<12-18 words>\"\n  ]\n}\n\nField rules:\n- project_title: string, under 55 characters per <title_rules>.\n- project_date: string per <date_extraction>.\n- original_name: return this value EXACTLY as shown above. Do not modify it.\n- matched_skill: return this value EXACTLY as shown above. Do not modify it.\n- impact_sentences: array of exactly 5 strings, each 12–18 words per <bullet_writing_rules>.\n</output_format>","options":{"returnIntermediateSteps":false}},"id":"b2d047eb-e597-45fe-8ea7-fc81b3009e1f","name":"AI - Write Impact (Step 1)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[46240,34176]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst previousData = $('Process Projects').first().json;\nlet projectsData;\n\ntry {\n  const content = response.output || response.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    projectsData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  projectsData = { selected_projects: [] };\n}\n\nconst projectsMap = previousData.projectsMap || {};\nconst projectUrlsMap = previousData.projectUrlsMap || {};\n\nconst availableKeys = Object.keys(projectsMap);\n\nconst enrichedProjects = (projectsData.selected_projects || []).map(project => {\n  const fileName = project.file_name || '';\n  let matchedKey = '';\n  \n  let projectContent = projectsMap[fileName] || '';\n  if (projectContent) {\n    matchedKey = fileName;\n  }\n  \n  if (!projectContent) {\n    const normalizedFileName = fileName.toLowerCase().replace(/[\\s-]/g, '_').replace(/_+/g, '_');\n    for (const [key, value] of Object.entries(projectsMap)) {\n      const normalizedKey = key.toLowerCase().replace(/[\\s-]/g, '_').replace(/_+/g, '_');\n      if (normalizedKey === normalizedFileName || key.toLowerCase() === fileName.toLowerCase()) {\n        projectContent = value;\n        matchedKey = key;\n        break;\n      }\n    }\n  }\n  \n  return {\n    ...project,\n    projectContent: projectContent,\n    projectUrl: projectUrlsMap[matchedKey] || '',\n    matchedKey: matchedKey\n  };\n});\n\nconst staticData = $getWorkflowStaticData('global');\nconst batchId = Date.now().toString();\nstaticData.batchId = batchId;\nstaticData.expectedProjectCount = enrichedProjects.length;\nstaticData.projectResults = [];\n\nreturn enrichedProjects.map(project => ({\n  json: {\n    jdAnalysis: previousData.jdAnalysis,\n    top3Skills: previousData.top3Skills,\n    currentProject: project,\n    projectContent: project.projectContent,\n    projectFileName: project.file_name,\n    projectUrl: project.projectUrl || '',\n    expectedProjectCount: enrichedProjects.length,\n    batchId: batchId,\n    branch: 'projects',\n    debug: {\n      availableKeys: availableKeys,\n      requestedFileName: project.file_name,\n      matchedKey: project.matchedKey,\n      contentFound: !!project.projectContent,\n      contentLength: project.projectContent?.length || 0,\n      contentPreview: project.projectContent?.substring(0, 200) || 'EMPTY'\n    }\n  }\n}));"},"id":"db8c4894-981d-4284-8a5d-44e32fc3a792","name":"Parse Selected Projects","type":"n8n-nodes-base.code","typeVersion":2,"position":[46016,34176]},{"parameters":{"promptType":"define","text":"=<role>\nYou are a resume project selector. You match a candidate's past projects to a job description's business needs and output structured JSON only.\n</role>\n\n<business_context>\nGoal: {{ $json.jdAnalysis.business_goal }}\nTop 5 Skills: {{ JSON.stringify($json.top5Skills) }}\nNote: Top 5 Skills is a JSON array of strings, e.g. [\"Skill_A\", \"Skill_B\", \"Skill_C\"].\n</business_context>\n\n<available_projects>\n{{ $json.projectsContent }}\n</available_projects>\n\n<input_validation>\nBefore proceeding, check ALL of the following:\n- Goal is empty or contains unrendered template placeholders (e.g. dollar-sign variable references).\n- Top 5 Skills is empty or contains the literal text \"JSON.stringify\" instead of an actual array.\n- available_projects is empty or contains no [FILE: ...] markers.\n\nIf ANY check fails, return ONLY:\n{\"error\": \"Missing input data\", \"failed_fields\": [\"Goal\", \"Top 5 Skills\"]}\nList every failed field. Do NOT output any other fields. Do NOT proceed with selection.\n\nIf ALL checks pass, proceed and output the success format defined in <output_format>. Never mix the two formats.\n</input_validation>\n\n<selection_rules>\nSelect exactly 3 projects from <available_projects>. NEVER invent or fabricate projects not present in available_projects.\n\nPriorities IN ORDER — earlier rules override later ones:\n\n1. RELEVANCE (highest): Choose projects that most directly address the business Goal.\n2. SKILL COVERAGE: The 3 projects combined should cover as many Top 5 Skills as possible. Aim for all 5; 4 is acceptable; below 4 is permitted only if no better combination exists.\n3. RECENTNESS (tiebreaker only): Among equally relevant projects, favor more recent ones.\n\nBoundary cases:\n- Fewer than 3 projects available → return all available projects.\n- A selected project matches zero Top 5 Skills → set its matched_skills to an empty array [].\n- No project matches ANY Top 5 Skill → select the 3 most thematically relevant to Goal and add \"low_confidence\": true to each object.\n</selection_rules>\n\n<file_name_extraction>\nEach project starts with a [FILE: xxx] marker. Extract file_name from this marker character-for-character.\n\n✓ Correct:\n  Marker: [FILE: car-price-regression] → file_name: \"car-price-regression\"\n\n✗ Wrong (never do these):\n  \"Car Price Regression\" — translated/reformatted\n  \"car_price_regression\" — changed punctuation\n  \"pricing-optimization-project\" — invented from content\n</file_name_extraction>\n\n<output_format>\nReturn ONLY a valid JSON object. No markdown fences, no explanation, no text outside the JSON.\n\nSchema:\n{\n  \"selected_projects\": [\n    {\n      \"file_name\": \"<exact string from [FILE: xxx] marker>\",\n      \"matched_skills\": [\"<Skill from Top 5>\", \"<Skill from Top 5>\"],\n      \"relevance_reason\": \"<max 20 words: why this project addresses the Goal>\"\n    }\n  ]\n}\n\nField rules:\n- selected_projects: exactly 3 objects (fewer only if fewer than 3 projects exist). Index 0 = best match.\n- file_name: see <file_name_extraction>.\n- matched_skills: JSON array of strings. Each string must be copied verbatim from the Top 5 Skills array. Include ALL Top 5 Skills this project demonstrates. Use [] if the project matches none.\n- relevance_reason: one sentence, max 20 words.\n- low_confidence: omit by default. Add \"low_confidence\": true ONLY when the no-match fallback in <selection_rules> is triggered.\n</output_format>","options":{"returnIntermediateSteps":false}},"id":"49a4529d-c00c-48f4-b79a-61b7c1d1147b","name":"AI - Select Top 3 Projects","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[45664,34176]},{"parameters":{"jsCode":"const previousData = $('Parse JD Analysis').first().json;\nconst items = $input.all();\n\nlet projectsContent = '';\nconst projectsMap = {};\nconst projectUrlsMap = {};\nconst debugInfo = [];\n\ntry {\n  for (let i = 0; i < items.length; i++) {\n    const item = items[i];\n    try {\n      const binaryDataBuffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n      const content = binaryDataBuffer.toString('utf-8');\n      \n      const fileName = item.binary?.data?.fileName || '';\n      const cleanName = fileName.replace(/\\.md$/i, '').replace(/^.*[\\\\\\/]/, '');\n      \n      const urlMatch = content.match(/^URL:\\s*(.+)$/m);\n      const projectUrl = urlMatch ? urlMatch[1].trim() : '';\n      \n      projectsContent += `[FILE: ${cleanName}]\\n${content}\\n\\n`;\n      \n      debugInfo.push({\n        originalFileName: fileName,\n        cleanName: cleanName,\n        contentLength: content.length,\n        firstLine: content.split('\\n')[0],\n        secondLine: content.split('\\n')[1] || 'NO SECOND LINE'\n      });\n      \n      if (cleanName) {\n        projectsMap[cleanName] = content;\n        projectUrlsMap[cleanName] = projectUrl;\n      }\n    } catch (e) {\n      debugInfo.push({ error: e.message, index: i });\n    }\n  }\n} catch (error) {\n  projectsContent = '';\n}\n\nreturn [{\n  json: {\n    ...previousData,\n    projectsContent: projectsContent,\n    projectsMap: projectsMap,\n    projectUrlsMap: projectUrlsMap,\n    branch: 'projects',\n    debugProcessProjects: {\n      filesProcessed: debugInfo,\n      mapKeys: Object.keys(projectsMap),\n      totalFiles: items.length\n    }\n  }\n}];"},"id":"9ff2d721-1047-4177-9024-4d1694cf63b4","name":"Process Projects","type":"n8n-nodes-base.code","typeVersion":2,"position":[45440,34176]},{"parameters":{"fileSelector":"/home/node/.n8n-files/data/relevant_project/*.md","options":{}},"id":"c6a58714-c84b-48ac-a295-243fd219c126","name":"Read Project Files","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[45216,34176]},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{"maxTokensToSample":4000,"temperature":0.2}},"id":"3a829188-faf8-447b-9ebe-8e95cbb001e3","name":"Claude - Skills Shortener","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[47696,33488],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}}},{"parameters":{"jsCode":"const input = $input.first().json;\n\n// Final output - extract skillsByCategory from skillsData\nreturn [{\n  json: {\n    skillsByCategory: input.skillsData?.skills_by_category || {},\n    branch: 'skills'\n  }\n}];"},"id":"e3bcdbf3-babc-43ac-aff3-48a2588359e1","name":"Finalize Skills","type":"n8n-nodes-base.code","typeVersion":2,"position":[47680,33664]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst content = input.output || input.text || '';\n\n// Get iteration from the Check Skills Loop node\nconst checkLoopData = $('Check Skills Loop').first().json;\nconst iteration = checkLoopData.iteration || 1;\n\nlet skillsData;\nlet jsonStr = content;\n\nif (content.includes('```json')) {\n  const match = content.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (match) jsonStr = match[1];\n} else if (content.includes('```')) {\n  const match = content.match(/```\\s*([\\s\\S]*?)\\s*```/);\n  if (match) jsonStr = match[1];\n} else {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) jsonStr = jsonMatch[0];\n}\n\ntry {\n  skillsData = JSON.parse(jsonStr.trim());\n} catch (e) {\n  throw new Error('Failed to parse shortened skills: ' + e.message);\n}\n\nreturn [{\n  json: {\n    skillsData: skillsData,\n    iteration: iteration,\n    branch: 'skills'\n  }\n}];"},"id":"899bc3f8-2c83-4ce5-804f-83eba0a5bae2","name":"Parse Shortened Skills","type":"n8n-nodes-base.code","typeVersion":2,"position":[47968,33488]},{"parameters":{"promptType":"define","text":"=AGGRESSIVELY shorten each skill category line to under 86 characters.\n\n<categories_too_long>\n{{ JSON.stringify($json.tooLongCategories) }}\n</categories_too_long>\n\n<valid_categories>\n{{ JSON.stringify($json.validCategories) }}\n</valid_categories>\n\n<CRITICAL_REQUIREMENT>\nEach line when rendered as \"Category: skill1, skill2, skill3\" must be UNDER 86 characters.\nYou must CUT aggressively. Be RUTHLESS.\n</CRITICAL_REQUIREMENT>\n\n<shortening_rules>\n1. SHORTEN category names: \"Data Analysis & Programming\" → \"Programming\"\n2. REMOVE ALL parenthetical details: \"Python (NumPy, Pandas)\" → \"Python\"\n3. USE abbreviations: \"PostgreSQL\" → \"Postgres\", \"JavaScript\" → \"JS\"\n4. REMOVE lowest-priority skills (keep only top 3-4 per category)\n5. COMBINE similar items: \"MySQL\", \"PostgreSQL\" → \"SQL (MySQL, Postgres)\"\n\n<examples>\nBEFORE (128 chars): \"Data Analysis & Programming: Python (NumPy, Pandas, scikit-learn), SQL (MySQL, complex queries), R (statistical modeling)\"\nAFTER (52 chars): \"Programming: Python, SQL, R, Machine Learning\"\n\nBEFORE (95 chars): \"Analytics Tools & Platforms: Power BI (visualization), Looker, Snowflake, Amplitude, DBT\"\nAFTER (50 chars): \"Analytics: Power BI, Looker, Snowflake, DBT\"\n</examples>\n\nReturn ONLY valid JSON with ALL categories (both fixed and already-valid ones):\n{\"skills_by_category\": {\"Programming\": [\"Python\", \"SQL\", \"R\"], \"Tools\": [\"Power BI\", \"Looker\"]}}","options":{"returnIntermediateSteps":false}},"id":"3824a852-af50-4290-889b-2780f3c5195b","name":"AI - Shorten Skills Lines","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[47616,33264]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"condition-skills-continue","leftValue":"={{ $json.shouldContinue }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"5acfcaba-4a4a-4312-a5cd-cb9aa0c2d82c","name":"Check Skills Loop","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[47328,33424]},{"parameters":{"jsCode":"const input = $input.first().json;\nlet skillsData = input.skillsData;\n\n// If coming from AI - Shorten Skills Lines, parse the response\nif (input.output || input.text) {\n  const content = input.output || input.text || '';\n  let jsonStr = content;\n  \n  if (content.includes('```json')) {\n    const match = content.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n    if (match) jsonStr = match[1];\n  } else if (content.includes('```')) {\n    const match = content.match(/```\\s*([\\s\\S]*?)\\s*```/);\n    if (match) jsonStr = match[1];\n  } else {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) jsonStr = jsonMatch[0];\n  }\n  \n  try {\n    skillsData = JSON.parse(jsonStr.trim());\n  } catch (e) {\n    // Keep existing skillsData if parse fails\n  }\n}\n\nconst MAX_CHARS = 86;\nconst iteration = (input.iteration || 0) + 1;\n\n// ========== Code-based pre-trimming (first iteration only) ==========\nconst abbr = { 'PostgreSQL': 'Postgres', 'JavaScript': 'JS', 'TypeScript': 'TS' };\nconst catShort = {\n  'Data Analysis & Programming': 'Programming',\n  'Analytics Tools & Platforms': 'Analytics',\n  'Machine Learning & AI': 'ML & AI',\n  'Database Management': 'Databases',\n  'Cloud & Infrastructure': 'Cloud',\n  'Data Engineering & Processing': 'Data Engineering',\n};\n\nfunction lineLen(cat, skills) { return `${cat}: ${skills.join(', ')}`.length; }\nfunction rmParens(s) { return s.replace(/\\s*\\([^)]*\\)/g, '').trim(); }\nfunction doAbbr(s) { let r = s; for (const [f, a] of Object.entries(abbr)) r = r.replace(f, a); return r; }\n\nif (iteration === 1) {\n  const refined = {};\n  for (const [origCat, origSkills] of Object.entries(skillsData.skills_by_category || {})) {\n    if (!Array.isArray(origSkills)) continue;\n    let cat = origCat;\n    let skills = [...origSkills];\n    \n    if (lineLen(cat, skills) > MAX_CHARS) {\n      skills = skills.map(rmParens);\n      if (lineLen(cat, skills) > MAX_CHARS) cat = catShort[cat] || cat;\n      if (lineLen(cat, skills) > MAX_CHARS) skills = skills.map(doAbbr);\n      while (skills.length > 3 && lineLen(cat, skills) > MAX_CHARS) skills.pop();\n    }\n    refined[cat] = skills;\n  }\n  skillsData = { skills_by_category: refined };\n}\n\n// ========== Validation ==========\nfunction getRenderedLineLength(category, skills) {\n  return `${category}: ${skills.join(', ')}`.length;\n}\n\nconst skillsByCategory = skillsData.skills_by_category || {};\nconst tooLongCategories = [];\nconst validCategories = {};\n\nfor (const [category, skills] of Object.entries(skillsByCategory)) {\n  if (!Array.isArray(skills)) continue;\n  \n  const lineLength = getRenderedLineLength(category, skills);\n  if (lineLength > MAX_CHARS) {\n    tooLongCategories.push({\n      category: category,\n      skills: skills,\n      currentChars: lineLength,\n      needToRemove: lineLength - MAX_CHARS\n    });\n  } else {\n    validCategories[category] = skills;\n  }\n}\n\nconst allValid = tooLongCategories.length === 0;\nconst maxIterations = 5;\nconst shouldContinue = !allValid && iteration < maxIterations;\n\nreturn [{\n  json: {\n    skillsData: skillsData,\n    tooLongCategories: tooLongCategories,\n    validCategories: validCategories,\n    allValid: allValid,\n    iteration: iteration,\n    shouldContinue: shouldContinue,\n    branch: 'skills'\n  }\n}];"},"id":"92d507e9-fa55-4b4a-9029-5f86d3aad304","name":"Validate Skills Char Count","type":"n8n-nodes-base.code","typeVersion":2,"position":[47040,33488]},{"parameters":{"jsCode":"const response = $input.first().json;\nlet skillsData;\n\ntry {\n  const content = response.output || response.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    skillsData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  skillsData = { skills_by_category: {} };\n}\n\nconst previousData = $('Process Skills').first().json;\n\nreturn [{\n  json: {\n    ...previousData,\n    rawSkillsByCategory: skillsData.skills_by_category || {},\n    branch: 'skills'\n  }\n}];"},"id":"97a77787-a86d-498b-8270-4370a03c1ecd","name":"Parse Generated Skills","type":"n8n-nodes-base.code","typeVersion":2,"position":[46592,33488]},{"parameters":{"promptType":"define","text":"=Create a high-impact Skills section by aligning the user's REAL skills with JD requirements.\n\n<jd_analysis>\n{{ JSON.stringify($json.jdAnalysis) }}\n</jd_analysis>\n\n<user_skills>\n{{ $json.skillsContent }}\n</user_skills>\n\n<HONESTY_RULE - HIGHEST PRIORITY>\nONLY include tools/skills the user actually has (listed in user_skills).\nNEVER add tools just because the JD mentions them.\nNEVER use \"Familiar with [Tool]\" for tools not in user_skills.\n\nFORBIDDEN: Adding \"Alteryx\" because JD mentions it but user doesn't have it.\nFORBIDDEN: Adding \"Bloomberg Terminal\" because JD mentions it but user never used it.\nALLOWED: If user has \"MySQL\" and JD says \"SQL\", list as \"SQL (MySQL)\" — this is terminology alignment, not fabrication.\n</HONESTY_RULE>\n\n<logic_rules>\n1. TERMINOLOGY ALIGNMENT: Use JD phrasing for skills the user genuinely has.\n   - User has \"Matplotlib\" + JD says \"Data Visualization\" → \"Data Visualization (Matplotlib)\"\n   - User has \"pandas\" + JD says \"data cleaning\" → \"Data Cleaning & Transformation (pandas)\"\n2. HIERARCHY: Sort categories by relevance to JD — most important category first.\n3. LIMITS: Max 4 categories. Max 6 items per category. Total under 20 items.\n4. PRIORITIZE: Essential JD skills that user actually has should appear first.\n5. CHARACTER LIMIT: Each rendered line \"Category: skill1, skill2, skill3\" should aim to be under 86 characters. Keep category names short (e.g., \"Programming\" not \"Data Analysis & Programming\"). Avoid long parenthetical details.\n</logic_rules>\n\nReturn ONLY valid JSON (no markdown fences):\n{\"skills_by_category\": {\"Programming\": [\"Python (Pandas, NumPy)\", \"SQL (MySQL)\", \"R\"], \"Analytics\": [\"Data Visualization (Matplotlib)\", \"Statistical Modeling\"]}}","options":{"returnIntermediateSteps":false}},"id":"1f95e9f1-497a-427e-b741-29611d4c07c6","name":"AI - Generate Skills (Step 1)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[46240,33488]},{"parameters":{"jsCode":"const previousData = $('Parse JD Analysis').first().json;\n\nlet skillsContent = '';\ntry {\n  // Use n8n's built-in helper to read binary data (handles filesystem-v2 mode)\n  const binaryDataBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  skillsContent = binaryDataBuffer.toString('utf-8');\n} catch (e) {\n  skillsContent = '';\n}\n\nreturn [{\n  json: {\n    ...previousData,\n    skillsContent: skillsContent,\n    branch: 'skills'\n  }\n}];"},"id":"de95589e-5351-4e88-a6a1-2aea2167fde6","name":"Process Skills","type":"n8n-nodes-base.code","typeVersion":2,"position":[46016,33488]},{"parameters":{"fileSelector":"/home/node/.n8n-files/data/relevant_skills.md","options":{}},"id":"95b3ac9c-6ab8-495a-aded-3057f076c536","name":"Read Skills File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[45728,33488]},{"parameters":{"jsCode":"const response = $input.first().json;\nlet coursesData;\n\ntry {\n  const content = response.output || response.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    coursesData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  coursesData = { selected_courses: [] };\n}\n\nreturn [{\n  json: {\n    bachelorCourses: coursesData.selected_courses || [],\n    branch: 'bachelor_courses'\n  }\n}];"},"id":"7493ca9b-9dd4-4b03-98d1-f5ba12aac37b","name":"Parse Bachelor Courses","type":"n8n-nodes-base.code","typeVersion":2,"position":[46016,33072]},{"parameters":{"promptType":"define","text":"=Select courses that provide the strongest FOUNDATIONAL knowledge for the target job skills.\n\n<target_skills>\n{{ JSON.stringify($json.jdAnalysis.top_5_skills?.map(s => s.skill) || []) }}\n</target_skills>\n\n<available_courses>\n{{ $json.bachelorCoursesContent }}\n</available_courses>\n\n<rules>\n1. Select 4-6 courses with strongest FOUNDATIONAL relevance to the target skills\n2. Courses do NOT need to be exact tool matches. For example: Mathematical Statistics supports data analysis roles even if the JD asks for Python or SQL\n3. Prioritize: statistics, math modeling, algorithms, data structures, quantitative methods, and any applied/computational courses\n4. You MUST always return at least 4 courses. NEVER return an empty array\n5. Return EXACT course names as listed\n</rules>\n\nReturn ONLY valid JSON: {\"selected_courses\": [\"Statistics\", \"Linear Algebra\"]}","options":{"returnIntermediateSteps":false}},"id":"fd0db15c-f8a6-4cde-9c9c-01dcb452ec38","name":"AI - Extract Bachelor Courses","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[45664,33072]},{"parameters":{"jsCode":"const previousData = $('Parse JD Analysis').first().json;\n\nlet bachelorCoursesContent = '';\ntry {\n  // Use n8n's built-in helper to read binary data (handles filesystem-v2 mode)\n  const binaryDataBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  bachelorCoursesContent = binaryDataBuffer.toString('utf-8');\n} catch (e) {\n  bachelorCoursesContent = '';\n}\n\nreturn [{\n  json: {\n    ...previousData,\n    bachelorCoursesContent: bachelorCoursesContent,\n    branch: 'bachelor_courses'\n  }\n}];"},"id":"c889d30c-60f3-4654-93eb-e1da0d48301a","name":"Process Bachelor Courses","type":"n8n-nodes-base.code","typeVersion":2,"position":[45440,33072]},{"parameters":{"fileSelector":"/home/node/.n8n-files/data/edu_bech_course.md","options":{}},"id":"f5bde6cb-2f7e-449e-a0c2-222d9d481e48","name":"Read Bachelor Courses File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[45216,33072]},{"parameters":{"jsCode":"const response = $input.first().json;\nlet coursesData;\n\ntry {\n  const content = response.output || response.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    coursesData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  coursesData = { selected_courses: [] };\n}\n\nreturn [{\n  json: {\n    masterCourses: coursesData.selected_courses || [],\n    branch: 'master_courses'\n  }\n}];"},"id":"07ff0a45-a1b6-4cef-ac32-f45489396072","name":"Parse Master Courses","type":"n8n-nodes-base.code","typeVersion":2,"position":[46016,32672]},{"parameters":{"jsCode":"const previousData = $('Parse JD Analysis').first().json;\n\nlet masterCoursesContent = '';\ntry {\n  // Use n8n's built-in helper to read binary data (handles filesystem-v2 mode)\n  const binaryDataBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  masterCoursesContent = binaryDataBuffer.toString('utf-8');\n} catch (e) {\n  masterCoursesContent = '';\n}\n\nreturn [{\n  json: {\n    ...previousData,\n    masterCoursesContent: masterCoursesContent,\n    branch: 'master_courses'\n  }\n}];"},"id":"18cfe54f-b583-4aaf-849f-8ee46ef250bc","name":"Process Master Courses","type":"n8n-nodes-base.code","typeVersion":2,"position":[45440,32672]},{"parameters":{"fileSelector":"/home/node/.n8n-files/data/edu_master_course.md","options":{}},"id":"ad1db7c1-af7c-4a3d-be5b-709dfbf96ece","name":"Read Master Courses File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[45216,32672]},{"parameters":{"jsCode":"const response = $input.first().json;\nlet jdAnalysis;\n\ntry {\n  const content = response.output || response.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    jdAnalysis = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  jdAnalysis = {\n    company_name: 'Unknown Company',\n    job_title: 'Unknown',\n    location: '',\n    core_mission: '',\n    top_5_skills: [],\n    inferred_pain_points: '',\n    tone_and_style: 'Professional',\n    value_proposition: '',\n    business_goal: '',\n    success_metrics: [],\n    seniority_level: 'junior',\n    ats_keywords: [],\n    error: e.message\n  };\n}\n\nconst triggerData = $('When Executed by Another Workflow').first().json;\nconst originalJD = triggerData['Job Description'] || '';\n\nreturn [{\n  json: {\n    jobDescription: originalJD,\n    jdAnalysis: jdAnalysis,\n    top3Skills: jdAnalysis.top_5_skills?.slice(0, 3) || [],\n    top5Skills: jdAnalysis.top_5_skills || []\n  }\n}];"},"id":"3c735e5d-a695-4cec-b25c-2e1c448a0675","name":"Parse JD Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[44992,33344]},{"parameters":{"promptType":"define","text":"=Analyze this job description to extract key requirements, business context, and strategic insights.\n\n<job_description>\n{{ $json['Job Description'] }}\n</job_description>\n\n<rules>\n1. IDENTIFY: Top 5 skills ranked by importance (technical, soft, domain-specific).\n2. INFER: Primary business goal and core mission of this role.\n3. EXTRACT: Success metric keywords (e.g., \"scalability\", \"accuracy\", \"efficiency\").\n4. CATEGORIZE each skill as essential (explicitly required) or complementary (nice-to-have).\n5. DETECT seniority level: \"intern\", \"junior\" (0-2yr), \"mid\" (3-5yr), \"senior\" (5+yr).\n6. EXTRACT 3-5 ATS keywords for resume matching.\n7. INFER: Hidden pain points — what is the company likely struggling with?\n8. ASSESS: Tone and style of the posting (e.g., Professional/Rigorous or Bold/Innovative).\n9. DETERMINE: The #1 value proposition they seek in a candidate.\n</rules>\n\nReturn ONLY valid JSON (no markdown fences, no explanation):\n{\n  \"company_name\": \"\",\n  \"job_title\": \"\",\n  \"location\": \"\",\n  \"core_mission\": \"One sentence summary of why this role exists\",\n  \"top_5_skills\": [{\"rank\": 1, \"skill\": \"Python\", \"category\": \"technical\", \"is_essential\": true}],\n  \"inferred_pain_points\": \"The specific problem the candidate needs to solve\",\n  \"tone_and_style\": \"e.g., Professional/Rigorous or Bold/Innovative\",\n  \"value_proposition\": \"The #1 thing they are looking for in a candidate\",\n  \"business_goal\": \"Optimize performance marketing ROI\",\n  \"success_metrics\": [\"efficiency\", \"ROI\", \"accuracy\"],\n  \"seniority_level\": \"intern\",\n  \"ats_keywords\": [\"financial reporting\", \"data automation\"]\n}","options":{"returnIntermediateSteps":false}},"id":"be78bc26-3f7c-40df-a60c-808468def612","name":"AI Agent - Analyze JD","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[44640,33344]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":20000,"temperature":0.2}},"id":"f11cd7d9-fb3d-4f30-bcc7-7b497690cb84","name":"Claude - JD Analysis","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[44720,33568],"credentials":{"anthropicApi":{"id":"","name":"Anthropic account 2"}}},{"parameters":{"jsCode":"const input = $input.first().json;\nconst rawSkillsByCategory = input.rawSkillsByCategory || {};\nconst MAX_CHARS = 86;\n\nconst abbreviations = {\n  'PostgreSQL': 'Postgres', 'JavaScript': 'JS', 'TypeScript': 'TS',\n  'development': 'dev', 'Management': 'Mgmt', 'management': 'mgmt',\n};\n\nconst categoryShortnames = {\n  'Data Analysis & Programming': 'Programming',\n  'Analytics Tools & Platforms': 'Analytics',\n  'Machine Learning & AI': 'ML & AI',\n  'Database Management': 'Databases',\n  'Cloud & Infrastructure': 'Cloud',\n  'Data Engineering & Processing': 'Data Engineering',\n};\n\nfunction removeParentheticals(skill) {\n  return skill.replace(/\\s*\\([^)]*\\)/g, '').trim();\n}\n\nfunction abbreviate(skill) {\n  let result = skill;\n  for (const [full, abbr] of Object.entries(abbreviations)) {\n    result = result.replace(full, abbr);\n  }\n  return result;\n}\n\nfunction getLineLength(category, skills) {\n  return `${category}: ${skills.join(', ')}`.length;\n}\n\nconst refinedSkills = {};\n\nfor (const [category, skills] of Object.entries(rawSkillsByCategory)) {\n  if (!Array.isArray(skills)) continue;\n  \n  let currentCategory = category;\n  let currentSkills = [...skills];\n  \n  // Step 1: Check if already valid\n  if (getLineLength(currentCategory, currentSkills) <= MAX_CHARS) {\n    refinedSkills[currentCategory] = currentSkills;\n    continue;\n  }\n  \n  // Step 2: Remove parentheticals\n  currentSkills = currentSkills.map(removeParentheticals);\n  if (getLineLength(currentCategory, currentSkills) <= MAX_CHARS) {\n    refinedSkills[currentCategory] = currentSkills;\n    continue;\n  }\n  \n  // Step 3: Shorten category name\n  currentCategory = categoryShortnames[currentCategory] || currentCategory;\n  if (getLineLength(currentCategory, currentSkills) <= MAX_CHARS) {\n    refinedSkills[currentCategory] = currentSkills;\n    continue;\n  }\n  \n  // Step 4: Abbreviate skills\n  currentSkills = currentSkills.map(abbreviate);\n  if (getLineLength(currentCategory, currentSkills) <= MAX_CHARS) {\n    refinedSkills[currentCategory] = currentSkills;\n    continue;\n  }\n  \n  // Step 5: Truncate to fit\n  while (currentSkills.length > 3 && getLineLength(currentCategory, currentSkills) > MAX_CHARS) {\n    currentSkills.pop();\n  }\n  \n  refinedSkills[currentCategory] = currentSkills;\n}\n\nreturn [{\n  json: {\n    skillsData: { skills_by_category: refinedSkills },\n    branch: 'skills'\n  }\n}];"},"id":"5a3d9066-c16d-4427-9b71-9bc16aea5ac8","name":"Refine Skills (Code)","type":"n8n-nodes-base.code","typeVersion":2,"position":[46816,33488]}],"connections":{"AI - Extract Master Courses":{"main":[[{"node":"Parse Master Courses","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent - Analyze JD","type":"main","index":0}]]},"Claude - JD Analysis4":{"ai_languageModel":[[{"node":"AI - Extract Master Courses","type":"ai_languageModel","index":0}]]},"Claude - JD Analysis3":{"ai_languageModel":[[{"node":"AI - Generate Skills (Step 1)","type":"ai_languageModel","index":0}]]},"Claude - JD Analysis2":{"ai_languageModel":[[{"node":"AI - Select Top 3 Projects","type":"ai_languageModel","index":0}]]},"Claude - JD Analysis1":{"ai_languageModel":[[{"node":"AI - Write Impact (Step 1)","type":"ai_languageModel","index":0}]]},"Claude - JD Analysis6":{"ai_languageModel":[[{"node":"AI - Extract Bachelor Courses","type":"ai_languageModel","index":0}]]},"Read Template File":{"main":[[{"node":"Generate Resume HTML","type":"main","index":0}]]},"Combine All Data":{"main":[[{"node":"Read Template File","type":"main","index":0}]]},"Merge All Results":{"main":[[{"node":"Combine All Data","type":"main","index":0}]]},"Merge Skills & Projects":{"main":[[{"node":"Merge All Results","type":"main","index":1}]]},"Merge Courses":{"main":[[{"node":"Merge All Results","type":"main","index":0}]]},"Aggregate Project Results":{"main":[[{"node":"Merge Skills & Projects","type":"main","index":1}]]},"Claude - Shortener":{"ai_languageModel":[[{"node":"AI - Shorten Sentences","type":"ai_languageModel","index":0}]]},"Finalize Project":{"main":[[{"node":"Aggregate Project Results","type":"main","index":0}]]},"Parse Shortened":{"main":[[{"node":"Validate Char Count","type":"main","index":0}]]},"AI - Shorten Sentences":{"main":[[{"node":"Parse Shortened","type":"main","index":0}]]},"Check Loop":{"main":[[{"node":"AI - Shorten Sentences","type":"main","index":0}],[{"node":"Finalize Project","type":"main","index":0}]]},"Validate Char Count":{"main":[[{"node":"Check Loop","type":"main","index":0}]]},"Parse Written Impact":{"main":[[{"node":"Validate Char Count","type":"main","index":0}]]},"AI - Write Impact (Step 1)":{"main":[[{"node":"Parse Written Impact","type":"main","index":0}]]},"Parse Selected Projects":{"main":[[{"node":"AI - Write Impact (Step 1)","type":"main","index":0}]]},"AI - Select Top 3 Projects":{"main":[[{"node":"Parse Selected Projects","type":"main","index":0}]]},"Process Projects":{"main":[[{"node":"AI - Select Top 3 Projects","type":"main","index":0}]]},"Read Project Files":{"main":[[{"node":"Process Projects","type":"main","index":0}]]},"Claude - Skills Shortener":{"ai_languageModel":[[{"node":"AI - Shorten Skills Lines","type":"ai_languageModel","index":0}]]},"Finalize Skills":{"main":[[{"node":"Merge Skills & Projects","type":"main","index":0}]]},"Parse Shortened Skills":{"main":[[{"node":"Validate Skills Char Count","type":"main","index":0}]]},"AI - Shorten Skills Lines":{"main":[[{"node":"Parse Shortened Skills","type":"main","index":0}]]},"Check Skills Loop":{"main":[[{"node":"AI - Shorten Skills Lines","type":"main","index":0}],[{"node":"Finalize Skills","type":"main","index":0}]]},"Validate Skills Char Count":{"main":[[{"node":"Check Skills Loop","type":"main","index":0}]]},"AI - Generate Skills (Step 1)":{"main":[[{"node":"Parse Generated Skills","type":"main","index":0}]]},"Process Skills":{"main":[[{"node":"AI - Generate Skills (Step 1)","type":"main","index":0}]]},"Read Skills File":{"main":[[{"node":"Process Skills","type":"main","index":0}]]},"Parse Bachelor Courses":{"main":[[{"node":"Merge Courses","type":"main","index":1}]]},"AI - Extract Bachelor Courses":{"main":[[{"node":"Parse Bachelor Courses","type":"main","index":0}]]},"Process Bachelor Courses":{"main":[[{"node":"AI - Extract Bachelor Courses","type":"main","index":0}]]},"Read Bachelor Courses File":{"main":[[{"node":"Process Bachelor Courses","type":"main","index":0}]]},"Parse Master Courses":{"main":[[{"node":"Merge Courses","type":"main","index":0}]]},"Process Master Courses":{"main":[[{"node":"AI - Extract Master Courses","type":"main","index":0}]]},"Read Master Courses File":{"main":[[{"node":"Process Master Courses","type":"main","index":0}]]},"Parse JD Analysis":{"main":[[{"node":"Read Project Files","type":"main","index":0},{"node":"Read Skills File","type":"main","index":0},{"node":"Read Bachelor Courses File","type":"main","index":0},{"node":"Read Master Courses File","type":"main","index":0}]]},"AI Agent - Analyze JD":{"main":[[{"node":"Parse JD Analysis","type":"main","index":0}]]},"Claude - JD Analysis":{"ai_languageModel":[[{"node":"AI Agent - Analyze JD","type":"ai_languageModel","index":0}]]},"Parse Generated Skills":{"main":[[{"node":"Refine Skills (Code)","type":"main","index":0}]]},"Refine Skills (Code)":{"main":[[{"node":"Validate Skills Char Count","type":"main","index":0}]]}},"authors":"Shicheng Guan","name":"Version 46cb59fc","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-28T02:41:11.947Z","id":84,"workflowId":"AWv5m9jqUOnkHyG-3gWzr","versionId":"46cb59fc-649c-43bf-b18c-bd5f73f159ae","event":"activated","userId":"a5d2103b-1019-43bc-b5af-ea9eb3398b13"}]}}